{% set hasSidebar = true %}
{% set hasOutline = true %}
{% set paletteId = "default" if page.fileSlug == 'custom' else page.fileSlug %}
{% set isCustom = page.fileSlug == 'custom' %}
{% set tints = ["95", "90", "80", "70", "60", "50", "40", "30", "20", "10", "05"] %}

{% extends '../_includes/base.njk' %}

{% block head %}
<style>@import url('/dist/styles/color/{{ paletteId }}.css') layer(palette.{{ paletteId }});</style>
<link href="{{ page.url }}../app/tweak.css" rel="stylesheet">
<script type="module" src="{{ page.url }}../app/tweak.js"></script>
{% endblock %}

{% block header %}
<div id="palette-app" data-slug="{{ page.fileSlug }}" data-palette-id="{{ page.fileSlug }}">
  <div
  :class="{
    seeded: seedColors.length,
    tweaking: tweaking.chromaScale,
    'tweaking-chroma': tweaking.chromaScale,
    'tweaking-hue': tweaking.chromaScale,
    'tweaking-gray-chroma': tweaking.grayChroma,
    'tweaked-chroma': tweaked?.chroma,
    'tweaked-hue': tweaked?.hue,
    'tweaked-any': Object.keys(tweaksHumanReadable).length,
  }"
  :style="{
    '--chroma-scale': chromaScale,
    '--gray-chroma': tweaked?.grayChroma ? grayChroma : originalGrayChroma,
    '--max-c': maxChroma,
    '--avg-l': L_RANGES[level].mid,
    }">

  <header id="palette-info">
  {% include 'breadcrumbs.njk' %}

  <h1 class="title">
    <span v-content="saved?.title || paletteTitle">{{ title }}</span>
    <wa-icon-button v-if="saved || isCustom && seedColors.length > 0" name="pencil" label="Rename palette" @click="rename"></wa-icon-button>
    <wa-icon-button v-if="saved" class="delete" name="trash" label="Delete palette" @click="deleteSaved"></wa-icon-button>
    <wa-button v-if="saved || isCustom && seedColors.length > 0" @click="save()" :disabled="!unsavedChanges"
      variant="success" size="small">
      <span slot="prefix" class="icon-modifier">
        <wa-icon name="sidebar" variant="regular"></wa-icon>
        <wa-icon name="circle-plus" class="modifier" style="color: light-dark(var(--wa-color-green-70), var(--wa-color-green-60));"></wa-icon>
      </span>
      Save{% raw %}{{ unsavedChanges ? '' : 'd' }}{% endraw %}
    </wa-button>
  </h1>

  <div class="block-info">
    <code class="class">.wa-palette-{{ paletteId }}</code>
    {% include '../_includes/status.njk' %}
    {% if not isPro %}
    <wa-badge class="pro" v-if="tweaked">PRO</wa-badge>
    {% endif %}
  </div>
  {% if description %}
  <p class="summary">
    {{ description | inlineMarkdown | safe }}
  </p>
  {% endif %}
  {% raw %}
  <div class="hue-wheel">
    <template v-for="color, hue in coreColors">
      <div :id="`hue-wheel-${hue}`" class="color"
          :style="{
        '--color': color,
        '--h': color.get('oklch.h'),
        '--c': color.get('oklch.c'),
        '--l': color.get('oklch.l'),
        }"></div>
        <wa-tooltip :for="`hue-wheel-${ hue }`" hoist>{{ capitalize(hue) }} {{ coreLevels[hue] }}</wa-tooltip>
      </template>
  </div>
  {% endraw %}
  </header>
{% endblock %}

{% block afterContent %}

<wa-callout size="small" class="tweaked-callout" variant="warning">
  <wa-icon name="sliders-simple" slot="icon" variant="regular"></wa-icon>
   This palette has been tweaked.
   <div class="wa-cluster wa-gap-xs">
    <wa-tag v-for="tweakHumanReadable, param in tweaksHumanReadable" removable @wa-remove="reset(param)">{% raw %}{{ tweakHumanReadable }}{% endraw %}</wa-tag>
   </div>

  <wa-button @click="reset()" appearance="outlined" variant="danger">
    <span slot="prefix" class="icon-modifier">
      <wa-icon name="circle-xmark" variant="regular"></wa-icon>
    </span>
    Reset
  </wa-button>
</wa-callout>

<h2>Scales</h2>

{% include "palette.njk" %}

<table class="colors main wa-palette-{{ paletteId }}">
  <thead>
    <tr>
      <th></th>
      <th class="core-column">Core tint</th>
      {% for tint in tints -%}
      <th>{{ tint }}</th>
      {%- endfor %}
    </tr>
  </thead>
  {% raw %}
  <tbody v-cloak>
    <tr v-for="hue in [...hues, 'gray']" v-show="hue === 'gray' || seedHues[hue] || !isCustom" :data-hue="hue"
        class="color-scale" :class="{
          tweaking: hue === 'gray' ? tweaking.grayChroma : tweaking.hue?.[hue],
          tweaked: hue === 'gray' ? tweaked.grayChroma || tweaked.grayColor : hueShifts[hue],
        }"
        :style="{
          '--swatch-text-color': `light-dark(var(--wa-color-${ hue }-10), white)`,
          '--hue-shift': hueShifts[hue] || ''
        }">
      <th>
        {{ capitalize(hue) }}
        <wa-icon v-if="isCustom && !seedHues[hue]" name="sparkles" style="color: var(--wa-color-gray-50)"></wa-icon>
      </th>
      <td class="core-column" :style="{'--original-color': `var(--wa-color-${ hue })`, '--color': colors[hue][coreLevels[hue]]}">
        <wa-dropdown>
          <div slot="trigger" :id="`core-${ hue }-swatch`" class="color swatch" :style="{
              '--color-base': colorsMinusCurrentTweak[hue][coreLevels[hue]],
              colorScheme: coreLevels[hue] > 60 ? 'light' : 'dark'
            }">
            <span v-content="coreLevels[hue]">{{ coreLevels[hue] }}</span>
            <wa-icon name="sliders-simple" class="tweak-icon"></wa-icon>
          </div>
          <div class="popup">
            <template v-if="hue === 'gray'">
            <wa-radio-group class="core-color" orientation="horizontal" v-model="grayColor">
              <template v-for="h in hues">
                <wa-radio-button :id="'gray-undertone-' + h" :value="h" :label="capitalize(h)" :style="{'--color': `var(--wa-color-${ h })`}"></wa-radio-button>
                <wa-tooltip :for="'gray-undertone-' + h" hoist>{{ capitalize(h) }}</wa-tooltip>
              </template>
              <div slot="label">
                Gray undertone
              </div>
            </wa-radio-group>
            <div class="decorated-slider gray-chroma-slider" :style="{
            '--color': coreColors.gray,
            '--color-1': coreColors[grayColor].clone().set('oklch.c', 0),
            '--color-2': coreColors[grayColor].clone().set('oklch.c', c => c * maxGrayChroma),
            }">
              <wa-slider name="gray-chroma" v-model="grayChroma" ref="grayChromaSlider"
              value="0" min="0" :max="maxGrayChroma" step="0.01"
                @input="tweaking.grayChroma = true" @change="tweaking.grayChroma = false">
                <div slot="label">
                  Gray colorfulness
                  <wa-icon-button @click="grayChroma = originalGrayChroma" class="clear-button" name="circle-xmark" library="system" variant="regular" label="Reset"></wa-icon-button>
                </div>
              </wa-slider>
              <div class="label-min">Neutral</div>
              <div class="label-max">{{ moreHue[grayColor] }}</div>
            </div>
            </template>
            <div v-else class="decorated-slider hue-shift-slider" :style="{
              '--color': coreColors[hue],
              '--color-1': coreColors[hue].clone().set('oklch.h', h => h + shiftBounds[hue].min),
              '--color-2': coreColors[hue].clone().set('oklch.h', h => h + shiftBounds[hue].max),
             }">
              <wa-slider name="{{ hue }}-shift" v-model="hueShifts[hue]" value="0"
                :min="shiftBounds[hue].min" :max="shiftBounds[hue].max" step="1"
                @input="tweaking.hue ??= {}; tweaking.hue[hue] = true" @change="tweaking.hue = null">
                <div slot="label">
                  Tweak {{ hue }} hue
                  <wa-icon-button @click="hueShifts[hue] = 0" class="clear-button" name="circle-xmark" library="system" variant="regular" label="Reset"></wa-icon-button>
                </div>
              </wa-slider>
              <div class="label-min">More {{hueBefore[hue]}}</div>
              <div class="label-max">More {{hueAfter[hue]}}</div>
            </div>
          <div class="wa-gap-s">
              <code>--wa-color-{{ hue }}</code>
              <wa-copy-button value="--wa-color-{{ hue }}" copy-label="--wa-color-{{ hue }}"></wa-copy-button>
            </div>
          </div>
        </wa-dropdown>
      </td>
      <td v-for="tint in tints.toReversed()" :data-tint="tint" :style="{'--original-color': `var(--wa-color-${ hue }-${tint})`, '--color': colors[hue][tint] }">
        <div class="color swatch" :style="{
            '--color-base': colorsMinusCurrentTweak[hue][tint],
            colorScheme: tint > 60 ? 'light' : 'dark'
          }">
          <wa-icon class="pinned-icon" name="thumbtack" variant="regular" v-if="seedHues[hue]?.[tint]"></wa-icon>
          <wa-copy-button :value="`--wa-color-${ hue }-${ tint }`" :copy-label="`--wa-color-${ hue }-${ tint }`"></wa-copy-button>
        </div>
      </td>
    </tr>
{% endraw %}
</tbody>
</table>

<div class="decorated-slider chroma-scale-slider wa-palette-{{ paletteId }}"
:class="{ tweaked: chromaScale !== 1 }"
:style="{
'--color': coreColors.blue,
'--color-1': coreColors.blue.clone().set('oklch.c', c => c * chromaScaleBounds.min),
'--color-2': coreColors.blue.clone().set('oklch.c', c => c * chromaScaleBounds.max),
 }" v-cloak>
  <wa-slider name="chroma-scale" ref="chromaScaleSlider"
    v-model="chromaScale" value="1" step="0.01"
    :min="chromaScaleBounds.min" :max="chromaScaleBounds.max"
    @input="tweaking.chromaScale = true" @change="tweaking.chromaScale = false">
    <div slot="label">
      Overall colorfulness
      <wa-icon-button @click="chromaScale = 1" class="clear-button" name="circle-xmark" library="system" variant="regular" label="Reset"></wa-icon-button>
    </div>
  </wa-slider>
  <div class="label-min">More muted</div>
  <div class="label-max">More vibrant</div>
</div>

{% if page.fileSlug != 'custom' %}
<h2>Used By</h2>

<section class="index-grid">
{% for page in collections.theme %}
  {%- if page.data.palette == paletteId -%}
    {% include "page-card.njk" %}
  {%- endif -%}
{% endfor %}
</section>
{% endif %}

{% markdown %}
## Color Contrast

Web Awesome color scales are designed to guarantee certain contrast ratios,
both per [WCAG 2.1 success criteria](https://www.w3.org/TR/WCAG21/#contrast-minimum)
as well as the emergent APCA specification _(planned)_,
so you can ensure that text is both legible to all users, and legally conformant.

### Level 1

A difference of `40` ensures a minimum **3:1** contrast ratio, suitable for large text and icons (AA).
{% endmarkdown %}

{% set difference = 40 %}
{% set minContrast = 3 %}
{% include "contrast-table.njk" %}

{% markdown %}

This also goes for a difference of `45`:

{% endmarkdown %}

{% set difference = 45 %}
{% include "contrast-table.njk" %}

{% markdown %}

### Level 2

A difference of `50` ensures a minimum **4.5:1** contrast ratio, suitable for normal text (AA) and large text (AAA)
{% endmarkdown %}

{% set difference = 50 %}
{% set minContrast = 4.5 %}
{% include "contrast-table.njk" %}

{% markdown %}

This also goes for a difference of `55`:

{% endmarkdown %}

{% set difference = 55 %}
{% include "contrast-table.njk" %}

{% markdown %}
### Level 3

A difference of `60` ensures a minimum **7:1** contrast ratio, suitable for all text (AAA)
{% endmarkdown %}

{% set difference = 60 %}
{% set minContrast = 7 %}
{% include "contrast-table.njk" %}

{% markdown %}

This also goes for a difference of `65`:

{% endmarkdown %}

{% set difference = 65 %}
{% include "contrast-table.njk" %}

{% markdown %}
## How to use this palette { #usage }

If you are using a Web Awesome theme that uses this palette, it will already be included.
To use a different palette than a theme default, or to use it in a custom theme, you can import this palette directly from the Web Awesome CDN.

{% set stylesheet = 'styles/color/' + page.fileSlug + '.css' %}
<wa-tab-group class="import-stylesheet-code">
<wa-tab panel="html">In HTML</wa-tab>
<wa-tab panel="css">In CSS</wa-tab>
<wa-tab-panel name="html">

Add the following code to the `<head>` of your page:
```html { v-content:html="code.html.highlighted" }
<link rel="stylesheet" href="{% cdnUrl stylesheet %}" />
```
</wa-tab-panel>
<wa-tab-panel name="css">

Add the following code at the top of your CSS file:
```css { v-content:html="code.css.highlighted" }
@import url('{% cdnUrl stylesheet %}');
```
</wa-tab-panel>
</wa-tab-group>

{% endmarkdown %}

<section class="index-grid" v-if="savedVariations?.length">
  <h2 class="index-category">Saved {{ 'custom palettes' if page.fileSlug == 'custom' else title + ' variations' }}</h2>
  <a v-for="palette of savedVariations" :href="'/docs/palettes/' + palette.id">
    <wa-card with-header>
      <div slot="header">
      {# {% include "svgs/palette.njk" %} #}
      </div>
      <span class="page-name" v-text="palette.title"></span>
    </wa-card>
  </a>
</section>


</div></div> {# end palette app #}
{% endblock %}


