{% set hasSidebar = true %}
{% set hasOutline = true %}
{% set paletteId = "default" if page.fileSlug == 'custom' else page.fileSlug %}
{% set isCustom = page.fileSlug == 'custom' %}
{% set tints = ["95", "90", "80", "70", "60", "50", "40", "30", "20", "10", "05"] %}

{% extends '../_includes/base.njk' %}

{% block head %}
<style>@import url('/dist/styles/color/{{ paletteId }}.css') layer(palette.{{ paletteId }});</style>
<link href="{{ page.url }}../app/tweak.css" rel="stylesheet">
<script type="module" src="{{ page.url }}../app/tweak.js"></script>
{% endblock %}

{% block header %}
<div id="palette-app" data-slug="{{ page.fileSlug }}" data-palette-id="{{ page.fileSlug }}">
  <div
  :class="{
    seeded: isSeeded,
    'tweaked-chroma': tweaked?.chroma,
    'tweaked-hue': tweaked?.hue,
    'tweaked-any': Object.keys(tweaksHumanReadable).length,
  }"
  :style="{
    '--chroma-scale': chromaScale,
    '--gray-chroma': tweaked?.grayChroma ? grayChroma : originalGrayChroma,
    '--max-c': maxChroma,
    '--avg-l': L_RANGES[level].mid,
    }">

  <header id="palette-info">
  {% include 'breadcrumbs.njk' %}

  <h1 class="title">
    <span v-content="saved?.title || (step > 0 ? defaultPaletteTitle : paletteTitle)">{{ title }}</span>
    <template v-if="saved || step > 0">
      <wa-icon-button name="pencil" label="Rename palette" @click="rename"></wa-icon-button>
      <wa-icon-button v-if="saved" class="delete" name="trash" label="Delete palette" @click="deleteSaved"></wa-icon-button>
      <wa-button @click="save()" :disabled="!unsavedChanges"
        :variant="unsavedChanges ? 'success' : 'neutral'" size="small" :appearance="unsavedChanges ? 'accent' : 'outlined'">
        <span slot="prefix" class="icon-modifier">
          <wa-icon name="sidebar" variant="regular"></wa-icon>
          <wa-icon name="circle-plus" class="modifier" style="color: light-dark(var(--wa-color-green-70), var(--wa-color-green-60));"></wa-icon>
        </span>
        <span v-content="unsavedChanges ? 'Save' : 'Saved'">Save</span>
      </wa-button>
    </template>
  </h1>

  <div class="block-info" v-cloak>
    <code class="class" v-if="saved || !isCustom || step > 0">.wa-palette-<span v-content="slug">{{ page.fileSlug }}</span></code>
    {% include '../_includes/status.njk' %}
    {% if not isPro %}
    <wa-badge class="pro" v-if="tweaked || isCustom">PRO</wa-badge>
    {% endif %}
  </div>
  {% if description %}
  <p class="summary">
    {{ description | inlineMarkdown | safe }}
  </p>
  {% endif %}
  {% raw %}
    <div class="hue-wheel" v-if="!isCustom || step > 1">
      <template v-for="color, hue in coreColors">
        <template v-if="!isCustom || seedHues[hue]">
          <div :id="`hue-wheel-${hue}`" class="color"
              :style="{
            '--color': color,
            '--h': color.get('oklch.h'),
            '--c': color.get('oklch.c'),
            '--l': color.get('oklch.l'),
            }"></div>
          <wa-tooltip :for="`hue-wheel-${ hue }`" hoist>{{ capitalize(hue) }} {{ coreLevels[hue] }}</wa-tooltip>
        </template>
      </template>
  </div>
  {% endraw %}
  </header>
{% endblock %}

{% block afterContent %}

<wa-callout size="small" class="tweaked-callout" variant="warning">
  <wa-icon name="sliders-simple" slot="icon" variant="regular"></wa-icon>
   This palette has been tweaked.
   <div class="wa-cluster wa-gap-xs">
    <wa-tag v-for="tweakHumanReadable, param in tweaksHumanReadable" removable @wa-remove="reset(param)">{% raw %}{{ tweakHumanReadable }}{% endraw %}</wa-tag>
   </div>

  <wa-button @click="reset()" appearance="outlined" variant="danger">
    <span slot="prefix" class="icon-modifier">
      <wa-icon name="circle-xmark" variant="regular"></wa-icon>
    </span>
    Reset
  </wa-button>
</wa-callout>

<h2>Scales</h2>

{% include "palette.njk" %}

<table class="colors main wa-palette-{{ paletteId }}">
  <thead>
    <tr>
      <th></th>
      <th class="core-column">Core tint</th>
      {% for tint in tints -%}
      <th>{{ tint }}</th>
      {%- endfor %}
    </tr>
  </thead>
  {% raw %}
  <tbody v-cloak>
    <tr v-for="hue in paletteScalesList" :data-hue="hue" :key="hue"
        class="color-scale" :class="{
          tweaking: hue === 'gray' ? tweaking.grayChroma : tweaking.hue?.[hue],
          tweaked: hue === 'gray' ? tweaked.grayChroma || tweaked.grayColor : hueShifts[hue],
        }"
        :style="{
          '--swatch-text-color': `light-dark(var(--wa-color-${ hue }-10), white)`,
          '--hue-shift': hueShifts[hue] || ''
        }">
      <th>
        {{ capitalize(hue) }}
        <info-tip v-if="isCustom && !seedHues[hue]">
          <wa-icon name="sparkles" style="color: var(--wa-color-gray-50)"></wa-icon>
          <template #content>Generated scale</template>
        </info-tip>
      </th>
      <td class="core-column" :style="{'--original-color': `var(--wa-color-${ hue })`, '--color': colors[hue][coreLevels[hue]]}">
        <color-popup :title="capitalize(hue) + ' (core)'" :token="`--wa-color-${ hue }`" :color="coreColors[hue]"
          :pinned="!!seedColors[colorToIndex[hue].core]"
          :deletable="isCustom" @delete="deleteColor(colorToIndex[hue].core)"
          :pinnable="isCustom" @pin="addColor(coreColors[hue] + '')">
          <div slot="trigger" :id="`core-${ hue }-swatch`" class="color swatch" :style="{colorScheme: coreLevels[hue] > 60 ? 'light' : 'dark'}">
            <span v-content="coreLevels[hue]"></span>
            <wa-icon name="sliders-simple" class="tweak-icon"></wa-icon>
          </div>
          <template #content>
            <template v-if="hue === 'gray'">
              <wa-radio-group class="core-color" orientation="horizontal" :value="computedGrayColor" @input="grayColor = $event.target.value">
                <template v-for="h in hues">
                  <wa-radio-button :id="'gray-undertone-' + h" :value="h" :label="capitalize(h)" :style="{'--color': `var(--wa-color-${ h })`}"></wa-radio-button>
                  <wa-tooltip :for="'gray-undertone-' + h" hoist>{{ capitalize(h) }}</wa-tooltip>
                </template>
                <div slot="label">
                  Gray undertone
                </div>
              </wa-radio-group>
              <color-slider class="gray-chroma-slider" type="scale" :default-value="originalGrayChroma"
              :model-value="computedGrayChroma"
              @update:model-value="grayChroma = $event"
              v-model:tweaking="tweaking.grayChroma"
              :min="0" :max="maxGrayChroma" :step="0.01"
              :get-color="scale => baseCoreColors[computedGrayColor].clone().set('oklch.c', c => c * scale)"
              label="Gray colorfulness" label-min="Neutral" :label-max="moreHue[computedGrayColor]"
              ></color-slider>
            </template>
            <template v-else>
            <color-slider v-if="isCustom && seedColors[colorToIndex[hue].core]"
              v-model:color="seedColors[colorToIndex[hue].core].color"
              :default-value="seedColors[colorToIndex[hue].core].inputColor.oklch.h"

              v-model:tweaking="tweaking.hue[hue]"
              color-component="oklch.h"
              :min="HUE_RANGES[hue].min + 1" :max="HUE_RANGES[hue].max"
              label="Tweak hue" :label-min="`More ${hueBefore[hue]}`" :label-max="`More ${hueAfter[hue]}`"
              ></color-slider>

              <color-slider v-if="!isCustom && baseCoreColors[hue]"
                type="shift"
                v-model="hueShifts[hue]"
                :default-color="baseCoreColors[hue]"

                v-model:tweaking="tweaking.hue[hue]"
                color-component="oklch.h"
                :min="HUE_RANGES[hue].min + 1" :max="HUE_RANGES[hue].max"
                label="Tweak hue" :label-min="`More ${hueBefore[hue]}`" :label-max="`More ${hueAfter[hue]}`"
                ></color-slider>
            </template>
          </template>
        </color-popup>
      </td>
      <td v-for="tint in tints.toReversed()" :data-tint="tint" :style="{'--original-color': `var(--wa-color-${ hue }-${tint})`, '--color': colors[hue][tint] }">
        <color-popup :title="capitalize(hue) + ' ' + tint" :token="`--wa-color-${ hue }-${ tint }`" :color="colors[hue][tint]"
          :pinned="!!seedColors[colorToIndex[hue][tint]]"
          :deletable="isCustom" @delete="deleteColor(colorToIndex[hue][tint])"
          :pinnable="isCustom" @pin="addColor(colors[hue][tint] + '')">
          <div slot="trigger" class="color swatch" :style="{ colorScheme: tint > 60 ? 'light' : 'dark' }">
            <wa-icon class="pinned-icon" name="thumbtack" variant="regular" v-if="seedColors[colorToIndex[hue][tint]]"></wa-icon>
            <wa-icon name="sliders-simple" class="tweak-icon"></wa-icon>
          </div>
          <template #content>
            <color-slider v-if="isCustom && seedHues[hue] && (tint == '95' || tint == '05' || seedColors[colorToIndex[hue][tint]]) && tweakBase[hue][tint]"
              v-model:color="colors[hue][tint]"
              @input="!seedColors[colorToIndex[hue][tint]] ? addColor({hue, level: tint}) : null"
              :default-value="colors[hue][tweakBase[hue][tint]].oklch.h"

              v-model:tweaking="tweaking.hue[hue]"
              color-component="oklch.h"
              :min="HUE_RANGES[hue].min + 1" :max="HUE_RANGES[hue].max" :step="1"
              label="Hue shift" :label-min="`More ${hueBefore[hue]}`" :label-max="`More ${hueAfter[hue]}`"
              :label-default="`${capitalize(hue)} ${tweakBase[hue][tint]}`"
              ></color-slider>
          </template>
        </color-popup>
      </td>
    </tr>
{% endraw %}
</tbody>
</table>

<color-slider v-if="!isCustom"
  class="chroma-scale-slider wa-palette-{{ paletteId }}" :class="{ tweaked: chromaScale !== 1 }"
  type="scale" :default-value="1"
  v-model="chromaScale"
  v-model:tweaking="tweaking.chromaScale"
  :min="chromaScaleBounds.min" :max="chromaScaleBounds.max" :step="0.01"
  :get-color="scale => baseCoreColors.blue.clone().set('oklch.c', c => c * scale)"
  label="Overall colorfulness" label-min="More muted" label-max="More vibrant"
></color-slider>

{% if page.fileSlug != 'custom' %}
<h2>Used By</h2>

<section class="index-grid">
{% for page in collections.theme %}
  {%- if page.data.palette == paletteId -%}
    {% include "page-card.njk" %}
  {%- endif -%}
{% endfor %}
</section>
{% endif %}

{% markdown %}
## Color Contrast

Web Awesome color scales are designed to guarantee certain contrast ratios,
both per [WCAG 2.1 success criteria](https://www.w3.org/TR/WCAG21/#contrast-minimum)
as well as the emergent APCA specification _(planned)_,
so you can ensure that text is both legible to all users, and legally conformant.

### Level 1

A difference of `40` ensures a minimum **3:1** contrast ratio, suitable for large text and icons (AA).
{% endmarkdown %}

{% set difference = 40 %}
{% set minContrast = 3 %}
{% include "contrast-table.njk" %}

{% markdown %}

This also goes for a difference of `45`:

{% endmarkdown %}

{% set difference = 45 %}
{% include "contrast-table.njk" %}

{% markdown %}

### Level 2

A difference of `50` ensures a minimum **4.5:1** contrast ratio, suitable for normal text (AA) and large text (AAA)
{% endmarkdown %}

{% set difference = 50 %}
{% set minContrast = 4.5 %}
{% include "contrast-table.njk" %}

{% markdown %}

This also goes for a difference of `55`:

{% endmarkdown %}

{% set difference = 55 %}
{% include "contrast-table.njk" %}

{% markdown %}
### Level 3

A difference of `60` ensures a minimum **7:1** contrast ratio, suitable for all text (AAA)
{% endmarkdown %}

{% set difference = 60 %}
{% set minContrast = 7 %}
{% include "contrast-table.njk" %}

{% markdown %}

This also goes for a difference of `65`:

{% endmarkdown %}

{% set difference = 65 %}
{% include "contrast-table.njk" %}

{% markdown %}
## How to use this palette { #usage }

If you are using a Web Awesome theme that uses this palette, it will already be included.
To use a different palette than a theme default, or to use it in a custom theme, you can import this palette directly from the Web Awesome CDN.

{% set stylesheet = 'styles/color/' + page.fileSlug + '.css' %}
<wa-tab-group class="import-stylesheet-code">
<wa-tab panel="html">In HTML</wa-tab>
<wa-tab panel="css">In CSS</wa-tab>
<wa-tab-panel name="html">

Add the following code to the `<head>` of your page:
```html { v-content:html="code.html.highlighted" }
<link rel="stylesheet" href="{% cdnUrl stylesheet %}" />
```
</wa-tab-panel>
<wa-tab-panel name="css">

Add the following code at the top of your CSS file:
```css { v-content:html="code.css.highlighted" }
@import url('{% cdnUrl stylesheet %}');
```
</wa-tab-panel>
</wa-tab-group>

{% endmarkdown %}

<section id="saved" class="index-grid" v-if="savedVariations?.length">
  <h2 class="index-category">Saved {{ 'custom palettes' if page.fileSlug == 'custom' else title + ' variations' }}</h2>
  <a v-for="palette of savedVariations" :href="'/docs/palettes/' + palette.id">
    <wa-card with-header>
      <div slot="header">
      {# {% include "svgs/palette.njk" %} #}
      {% include "svgs/thumbnail-placeholder.njk" %}
      </div>
      <span class="page-name" v-text="palette.title"></span>
    </wa-card>
  </a>
</section>


</div></div> {# end palette app #}
{% endblock %}


