{# Cards for pages listed by category #}

<section id="grid" class="index-grid">
{% set groupedPages = allPages | groupPages(categories, page) %}
{% for category, pages in groupedPages -%}
  {% if groupedPages.meta.groupCount > 1 %}
  <h2 class="index-category">{{ pages.meta.title }}</h2>
  {% endif %}
  {%- for page in pages -%}
      {% include "page-card.njk" %}
  {%- endfor -%}
{%- endfor -%}
</section>
