<!DOCTYPE html>
<html
  lang="en"
  data-layout="{{ layout }}"
  data-shoelace-version="{{ meta.version }}"
>
  <head>
  <!--
    JSPM Generator Import Map
    Edit URL: https://generator.jspm.io/#jcs9DoMwDIbhDF16kW4kpFO7cYkeIASTGBmDEvNz+zaduhSJwdInvY9vF6Wub/ViQSHoVMQQqZzoITfW6qeuDWFr/JTgMJLjsLgA2ficT6jBrS77hLOcwPtIilCau37o+rdMhwm84FpIgr68/28LZ9dDFWWkQ7NF4G/coK38NM4TA0vVQY8MRdfa2g8tjhfiKAE
  -->
   <script type="importmap">
  {
    "imports": {
      "highlight.js/lib/core": "https://ga.jspm.io/npm:highlight.js@11.9.0/es/core.js",
      "highlight.js/lib/languages/css": "https://ga.jspm.io/npm:highlight.js@11.9.0/es/languages/css.js",
      "highlight.js/lib/languages/javascript": "https://ga.jspm.io/npm:highlight.js@11.9.0/es/languages/javascript.js",
      "highlight.js/lib/languages/xml": "https://ga.jspm.io/npm:highlight.js@11.9.0/es/languages/xml.js",
      "lit": "https://ga.jspm.io/npm:lit@2.8.0/index.js",
      "lit/directives/ref.js": "https://ga.jspm.io/npm:lit@2.8.0/directives/ref.js",
      "lit/directives/unsafe-html.js": "https://ga.jspm.io/npm:lit@2.8.0/directives/unsafe-html.js",
      "lit/directives/when.js": "https://ga.jspm.io/npm:lit@2.8.0/directives/when.js",
      "web-component-define": "https://ga.jspm.io/npm:web-component-define@2.0.11/src/index.js"
    },
    "scopes": {
      "https://ga.jspm.io/": {
        "@lit/reactive-element": "https://ga.jspm.io/npm:@lit/reactive-element@1.6.3/reactive-element.js",
        "@open-wc/dedupe-mixin": "https://ga.jspm.io/npm:@open-wc/dedupe-mixin@1.4.0/index.js",
        "lit-element/lit-element.js": "https://ga.jspm.io/npm:lit-element@3.3.3/lit-element.js",
        "lit-html": "https://ga.jspm.io/npm:lit-html@2.8.0/lit-html.js",
        "lit-html/": "https://ga.jspm.io/npm:lit-html@2.8.0/"
      }
    }
  }
  </script>

  <script async src="https://ga.jspm.io/npm:es-module-shims@1.8.0/dist/es-module-shims.js" crossorigin="anonymous"></script>
    {# Metadata #}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ meta.description }}" />
    <title>{{ meta.title }}</title>

    {# Opt out of Turbo caching #}
    <meta name="turbo-cache-control" content="no-cache">
    <meta name="turbo-cache-control" content="no-preview">

    {# Favicons #}
    <link rel="icon" href="{{ assetUrl('images/favicon.svg') }}" type="image/x-icon" />

    {# Twitter Cards #}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="shoelace_style" />
    <meta name="twitter:image" content="{{ assetUrl(meta.image, true) }}" />

    {# OpenGraph #}
    <meta property="og:url" content="{{ rootUrl(page.url, true) }}" />
    <meta property="og:title" content="{{ meta.title }}" />
    <meta property="og:description" content="{{ meta.description }}" />
    <meta property="og:image" content="{{ assetUrl(meta.image, true) }}" />

    {# WebAwesome #}
    <link rel="stylesheet" href="/dist/themes/default.css" />
    <link rel="stylesheet" href="/dist/themes/applied.css" />
    <script type="module" src="/dist/webawesome.js"></script>

    {# Set the initial theme and menu states here to prevent flashing #}
    <script>
      (() => {
        const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
        const theme = localStorage.getItem('theme') || 'auto';
        document.documentElement.classList.toggle('wa-theme-dark', theme === 'dark' || (theme === 'auto' && prefersDark));

        if (window.Turbo) {
          window.Turbo.session.drive = false
        }
      })();
    </script>

    <style>
      *, *:before, *:after {
        box-sizing: border-box;
      }

      html, body {
        height: 100%;
        min-height: 100%;
      }

      body {
        margin: 0;
      }

      [hidden] {
        display: none !important;
      }
    </style>

  </head>
  <body>
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </body>
</html>
