<div class="color-palette">
  <template shadowrootmode="open">
    <link href="/assets/styles/docs.css" rel="stylesheet" />
    <link id="theme" href="/dist/styles/themes/{{ themeId }}.css" rel="stylesheet" />
    <link id="palette" href="/dist/styles/color/{{ palette }}.css" rel="stylesheet" />
    <ul class="color-group">
      <li class="color-preview">
        <div class="swatch" style="background-color: var(--wa-color-brand-fill-loud)"></div>
      </li>
      <li class="color-preview">
        <div class="swatch" style="background-color: var(--wa-color-neutral-fill-loud)"></div>
      </li>
      <li class="color-preview">
        <div class="swatch" style="background-color: var(--wa-color-success-fill-loud)"></div>
      </li>
      <li class="color-preview">
        <div class="swatch" style="background-color: var(--wa-color-warning-fill-loud)"></div>
      </li>
      <li class="color-preview">
        <div class="swatch" style="background-color: var(--wa-color-danger-fill-loud)"></div>
      </li>
    </ul>
    <ul class="color-group">
      <li class="color-preview">
        <div class="swatch" style="background-color: var(--wa-color-brand-fill-normal)"></div>
      </li>
      <li class="color-preview">
        <div class="swatch" style="background-color: var(--wa-color-neutral-fill-normal)"></div>
      </li>
      <li class="color-preview">
        <div class="swatch" style="background-color: var(--wa-color-success-fill-normal)"></div>
      </li>
      <li class="color-preview">
        <div class="swatch" style="background-color: var(--wa-color-warning-fill-normal)"></div>
      </li>
      <li class="color-preview">
        <div class="swatch" style="background-color: var(--wa-color-danger-fill-normal)"></div>
      </li>
    </ul>
  </template>
</div>
