<script type="module">
  import "https://cdn.jsdelivr.net/npm/light-pen@1.0.1/+esm"
</script>

<light-pen style="height: 100%; padding: 8px;" resize-position="30">
  <script type="text/plain" slot="html">
{% include html_file %}
  </script>

  <script type="text/plain" slot="css">
@import "/dist/themes/light.css";
@import "/dist/themes/dark.css";

{% include css_file %}
  </script>

  <script type="text/plain" slot="js">
import { setBasePath } from "/dist/shoelace.js";
setBasePath("/dist")
  </script>
</light-pen>
