<script type="module">
  import "https://cdn.jsdelivr.net/npm/light-pen@1.1.2/+esm"
</script>

<light-pen style="height: 100%; padding: 8px;" resize-position="30" sandbox-settings="
    allow-downloads
    allow-downloads-without-user-activation
    allow-forms
    allow-modals
    allow-orientation-lock
    allow-pointer-lock
    allow-popups
    allow-popups-to-escape-sandbox
    allow-presentation
    allow-same-origin
    allow-scripts
    allow-storage-access-by-user-activation
    allow-top-navigation
    allow-top-navigation-by-user-activation
    allow-top-navigation-to-custom-protocols
">
  <script type="text/plain" slot="html">
{% include html_file %}
  </script>

  <script type="text/plain" slot="css">
@import "/dist/themes/default.css";
@import "/dist/themes/applied.css";

{% include css_file %}
  </script>

  <script type="text/plain" slot="js">
import { setBasePath } from "/dist/utilities/base-path.js";
setBasePath("/dist");
import("/dist/autoloader.js");
  </script>
</light-pen>
