{# Preset theme selector #}
<wa-dropdown class="preset-theme-selector">
  <wa-button slot="trigger" appearance="filled" size="small" pill caret>
    <wa-icon slot="prefix" name="paintbrush" variant="regular"></wa-icon>
    <span class="preset-theme-selector__text">Default</span>
  </wa-button>
  <wa-menu>
    {% for themeId, theme in themes %}
      <wa-menu-item type="radio" value="{{ themeId }}" data-description="{{ theme.description }}"{{ ' data-alpha="remove"' if theme.noAlpha }}>
        {{ theme.name }}
      </wa-menu-item>
    {% endfor %}
  </wa-menu>
</wa-dropdown>
