{# Preset theme selector #}
<wa-dropdown class="preset-theme-selector">
  <wa-button slot="trigger" appearance="filled" size="small" pill caret>
    <wa-icon slot="prefix" name="paintbrush" variant="regular"></wa-icon>
    <span class="preset-theme-selector__text">Default</span>
  </wa-button>
  <wa-menu>
  {% for theme in collections.theme %}
    <wa-menu-item type="radio" value="{{ theme.page.fileSlug }}" data-description="{{ theme.description }}"{{ ' data-alpha="remove"' if theme.noAlpha }}>
      {{ theme.data.title }}
    </wa-menu-item>
  {% endfor %}
  </wa-menu>
</wa-dropdown>
