/* Theme Builder Headers
 * These styles control the appearance of the header of the theme builder,
 * allowing each theme to have a unique hero section.
 */

/* #region Default */
html[class*='wa-theme-default'] .preview-container {
  container-name: default-theme;
}

@container default-theme (min-width: 0) {
  .hero-background {
    height: 47rem;
    background-color: var(--wa-color-brand-fill-loud);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .hero-background::after {
    background: url(/assets/images/themer/default/hero.png) 10rem bottom no-repeat;
    background-size: 95%;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .hero wa-button[variant='brand'] {
    --background-color: var(--wa-color-neutral-fill-quiet);
    --text-color: var(--wa-color-neutral-on-normal);
  }

  .project-header {
    color: var(--wa-color-brand-on-loud);
  }

  .strata.hero {
    height: 26rem;
  }

  .hero .title {
    margin-inline-end: 40%;
    color: var(--wa-color-brand-on-loud);
  }
}

/* responsive */
@container default-theme (min-width: 1040px) {
  .hero-background::after {
    background-position: right bottom;
    background-size: 90%;
  }
}
/* #endregion */

/* #region Migration */
html[class*='wa-theme-migration'] .preview-container {
  container-name: migration-theme;
}

@container migration-theme (min-width: 0) {
  .project-header {
    background: var(--wa-color-surface-default);
  }

  .hero {
    --hero-background-color: var(--wa-color-surface-default);
    --hero-lines-color: color-mix(in oklab, var(--wa-color-neutral-fill-normal), transparent 30%);
    background: linear-gradient(to top, var(--wa-color-surface-lowered), transparent 40%),
      radial-gradient(circle at 10% 70%, color-mix(in oklab, var(--wa-color-red-50) 16%, transparent), transparent 30%),
      radial-gradient(
        circle at 40% 50%,
        color-mix(in oklab, var(--wa-color-primary-40) 16%, transparent),
        transparent 40%
      ),
      radial-gradient(circle at 80% 25%, color-mix(in oklab, var(--wa-color-red-50) 8%, transparent), transparent 20%),
      radial-gradient(
        circle at 80% 80%,
        color-mix(in oklab, var(--wa-color-primary-40) 16%, transparent),
        transparent 40%
      ),
      radial-gradient(circle at 90% 30%, color-mix(in oklab, var(--wa-color-red-60) 8%, transparent), transparent 10%),
      linear-gradient(176deg, var(--hero-background-color), transparent 6rem),
      linear-gradient(90deg, var(--hero-background-color), transparent),
      repeating-linear-gradient(
        var(--hero-lines-color),
        var(--hero-lines-color) 1px,
        transparent 1px,
        transparent 10rem,
        var(--hero-lines-color) 10rem
      ),
      repeating-linear-gradient(
        90deg,
        var(--hero-lines-color),
        var(--hero-lines-color) 1px,
        transparent 1px,
        transparent 10rem,
        var(--hero-lines-color) 10rem
      ),
      var(--hero-background-color);

    & .title {
      padding-block: calc(var(--wa-space-3xl) * 2) calc(var(--wa-space-3xl) * 10);

      & .hero-title {
        font-size: calc((var(--wa-font-size-4xl) * 1.125) * 1.125);
        margin-block: 0 var(--wa-space-3xl);
      }
    }
  }
  .badge-stock {
    position: absolute;
    top: var(--wa-space-l);
    left: var(--wa-space-l);
  }

  .message-composer wa-card {
    &::part(footer) {
      border: none;
    }
    & wa-icon-button {
      color: var(--wa-color-base-50);
    }
  }

  .products {
    margin-top: calc(var(--wa-space-3xl) * -8);
  }

  pre.codeblock {
    background-color: var(--wa-color-neutral-fill-normal);
  }
}
/* #endregion */
