@font-face {
  font-family: cera-round-pro;
  font-display: swap;
  src: url('/assets/fonts/cera-round-pro-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: cera-round-pro;
  font-display: swap;
  src: url('/assets/fonts/cera-round-pro-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: cera-round-pro;
  font-display: swap;
  src: url('/assets/fonts/cera-round-pro-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: cera-round-pro;
  font-display: swap;
  src: url('/assets/fonts/cera-round-pro-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
