---
layout: blank
title: Custom
override:tags: [themes, pro]
isPro: true
order: 99
---

{% block head %}
<link href="/assets/styles/docs.css" rel="stylesheet" />
<link href="/assets/styles/ui.css" rel="stylesheet" />
<link href="{{ page.url }}style.css" rel="stylesheet" />
<script src="{{ page.url }}index.js" type="module"></script>
{% endblock %}

<wa-page id="theme-app">
  <header slot="header">
    <a href="/" aria-label="Web Awesome">
      {% include "logo-simple.njk" %}
    </a>

    <div class="title">
      <h1><editable-text :model-value="title" label="theme name" @submit="newTitle => save({title: newTitle})"></editable-text></h1>
      <wa-icon-button v-if="saved" class="delete" name="trash" label="Delete theme" @click="deleteSaved"></wa-icon-button>
    </div>

    <wa-button v-if="tweaked || uid" @click="save()" :disabled="!unsavedChanges"
      :variant="unsavedChanges ? 'success' : 'neutral'" size="small" :appearance="unsavedChanges ? 'accent' : 'outlined'">
      <span slot="prefix" class="icon-modifier">
        <wa-icon name="sidebar" variant="regular"></wa-icon>
        <wa-icon name="circle-plus" class="modifier" style="color: light-dark(var(--wa-color-green-70), var(--wa-color-green-60));"></wa-icon>
      </span>
      <span v-content="unsavedChanges ? 'Save' : 'Saved'">Save</span>
    </wa-button>
    <wa-button size="small" @click="ui.showCode = !showCode" appearance="outlined">
      <wa-icon name="code" variant="solid"></wa-icon>
      Code
    </wa-button>
    <wa-drawer label="Theme code" with-header :open="ui.showCode" @wa-after-hide="ui.showCode = false" light-dismiss>
      <wa-tab-group class="import-stylesheet-code" :active="ui.code" @wa-tab-show="ui.code = $event.detail.name">
        <wa-tab panel="css">CSS</wa-tab>
        <wa-tab-panel name="css">
          <pre class="language-css"><code v-content:html="code.css.highlighted"></code></pre>
          <wa-button :href="code.css.blob" :download="`theme-${slug}.css`">
            <wa-icon name="arrow-down-to-line" variant="solid" slot="prefix"></wa-icon>
            Download
          </wa-button>
        </wa-tab-panel>

        <wa-tab panel="html">HTML</wa-tab>
        <wa-tab-panel name="html">
          <pre class="language-html"><code v-content:html="code.html.highlighted"></code></pre>
        </wa-tab-panel>
      </wa-tab-group>
    </wa-drawer>
  </header>

  <ui-panel-container class="sidebar" slot="navigation" v-model="ui.panel">
    <ui-panel v-model="ui.panel" value="styles" title="Styles" :step="0" class="scrollable">
      <theme-card :theme="computed.base" size="small" :action="e => ui.panel = 'theme'">
        <div>
          Starting theme
          <div class="wa-caption-m" v-text="themes[computed.base]?.title"></div>
        </div>
        <wa-icon name="angle-right" class="angle-right" variant="regular"></wa-icon>
      </theme-card>

      <wa-divider></wa-divider>

      <palette-card :palette="computed.palette" size="small" :action="e => ui.panel = 'color'" role="button" tabindex="0">
        <div>
          Colors
          <div class="wa-caption-m" v-text="`${ palettes[computed.palette]?.title } palette &bull; ${ capitalize(computed.brand) } brand`"></div>
        </div>
        <wa-icon name="angle-right" class="angle-right" variant="regular"></wa-icon>
      </palette-card>

      <theme-card :theme="computed.typography" type="typography" size="small" :action="e => ui.panel = 'typography'">
        <div>
          Fonts
          <div class="wa-caption-m" v-text="themes[computed.typography]?.title"></div>
        </div>
        <wa-icon name="angle-right" class="angle-right" variant="regular"></wa-icon>
      </theme-card>

      <icons-card size="small" :action="e => ui.panel = 'icons'" :family="computed.icon.family" :style="computed.icon.style">
        <div>
          Icons
          <div class="wa-caption-m">Font Awesome Classic &bull; Solid</div>
        </div>
        <wa-icon name="angle-right" class="angle-right" variant="regular"></wa-icon>
      </icons-card>
    </ui-panel>

    <ui-panel v-model="ui.panel" value="theme" :step="1" class="scrollable">
      <template #title>
        <label for="starting-theme">Starting theme</label>
      </template>

      <wa-radio-group id="starting-theme" class="card-picker" v-model="theme.base">
          <wa-radio v-for="(themeMeta, themeId) in themes" :value="themeId" size="small" :aria-selected="!theme.base && themeId === 'default' ? 'true' : null">
            <theme-card :theme="themeId"></theme-card>
          </wa-radio>
      </wa-radio-group>
    </ui-panel>

    <ui-panel v-model="ui.panel" value="color" title="Colors" :step="1" class="scrollable">
      <palette-card :palette="computed.palette" size="small" :action="e => ui.panel = 'color-palette'" role="button" tabindex="0">
        <div>
          Color Palette
          <div class="wa-caption-m" v-text="palettes[computed.palette]?.title"></div>
        </div>
        <wa-icon name="angle-right" class="angle-right" variant="regular"></wa-icon>
      </palette-card>
      <swatch-select label="Brand color" shape="rounded"
                     :get-color="hue => palettes[computed.palette].colors[hue].key"
                     :model-value="computed.brand" @update:model-value="value => theme.brand = value"
                     :values="hues"></swatch-select>
    </ui-panel>

    <ui-panel v-model="ui.panel" value="color-palette" title="Color Palette" :step="2" class="scrollable">
      <wa-radio-group class="card-picker" v-model="theme.palette" size="small">
        <wa-radio v-for="(palette, paletteId) in palettes" :value="paletteId">
          <palette-card :palette="paletteId" size="small" :aria-selected="!theme.palette && paletteId === themes[computed.base].palette ? 'true' : null">
            <template #extra><wa-badge appearance="outlined" variant="neutral" v-if="paletteId === themes[computed.base].palette">Default</wa-badge></template>
          </palette-card>
        </wa-radio>
      </wa-radio-group>
    </ui-panel>

    <ui-panel v-model="ui.panel" value="typography" title="Fonts" :step="1" class="scrollable">
      <wa-radio-group class="card-picker" v-model="theme.typography" >
        <wa-radio v-for="(themeMeta, themeId) in themes" :value="themeId" size="small">
          <theme-card :theme="themeId" type="typography" size="small" :aria-selected="!theme.typography && themeId === theme.base ? 'true' : null">
            <template #extra><wa-badge appearance="outlined" variant="neutral" v-if="themeId === theme.base">Default</wa-badge></template>
          </theme-card>
        </wa-radio>
      </wa-radio-group>
    </ui-panel>

    <ui-panel v-model="ui.panel" value="icons" title="Icons" :step="1" class="scrollable">
      <wa-select label="Library" value="default" disabled>
        <wa-option value="default" selected>Font Awesome</wa-option>
      </wa-select>

      <icons-card type="family" size="small" :action="e => ui.panel = 'icon-family'" :defaults="computed.icon">
        <div>
          Icon family
          <div class="wa-caption-m" v-text="capitalize(computed.icon.family)"></div>
        </div>
        <wa-icon name="angle-right" class="angle-right" variant="regular"></wa-icon>
      </icons-card>

      <icons-card type="style" size="small" :action="e => ui.panel = 'icon-style'" :defaults="computed.icon">
        <div>
          Icon style
          <div class="wa-caption-m" v-text="capitalize(computed.icon.style)"></div>
        </div>
        <wa-icon name="angle-right" class="angle-right" variant="regular"></wa-icon>
      </icons-card>
    </ui-panel>

    <ui-panel v-model="ui.panel" value="icon-family" title="Icon family" :step="2" class="scrollable">
      <wa-radio-group id="starting-theme" class="card-picker" v-model="theme.icon.family">
          <wa-radio v-for="family of iconMeta.default.family" :value="family" size="small" :aria-selected="computed.icon.family === family ? 'true' : null">
            <icons-card type="family" :family="family"  :defaults="computed.icon"></icons-card>
          </wa-radio>
      </wa-radio-group>
    </ui-panel>

    <ui-panel v-model="ui.panel" value="icon-style" title="Icon style" :step="2" class="scrollable">
      <wa-radio-group id="starting-theme" class="card-picker" v-model="theme.icon.style">
          <wa-radio v-for="style of iconMeta.default.style" :value="style" size="small" :aria-selected="computed.icon.style === style ? 'true' : null">
            <icons-card type="style" :style="style" :defaults="computed.icon"></icons-card>
          </wa-radio>
      </wa-radio-group>
    </ui-panel>
  </ui-panel-container>

  <div slot="main-header" class="preview-header">
    <wa-radio-group orientation="horizontal" v-model="ui.preview" size="small" label="Preview:">
      <wa-radio-button value="app">App</wa-radio-button>
      <wa-radio-button value="content">Content</wa-radio-button>
    </wa-radio-group>
  </div>
  <div class="preview-container">
    <iframe class="preview" ref="preview" :src="`{{ page.url }}../preview/${ui.preview}/${urlParams}`"></iframe>
  </div>
</wa-page>
