---
layout: blank
title: Custom
override:tags: [themes, pro]
isPro: true
order: 99
---

{% block head %}
<link href="/assets/styles/docs.css" rel="stylesheet" />
<link href="/assets/styles/ui.css" rel="stylesheet" />
<link href="{{ page.url }}style.css" rel="stylesheet" />
<script src="{{ page.url }}index.js" type="module"></script>
{% endblock %}

<wa-page id="theme-app">
  <header slot="header">
    <a href="/" aria-label="Web Awesome">
      {% include "logo-simple.njk" %}
    </a>

    <div class="title">
      <h1><editable-text :model-value="title" label="theme name" @submit="newTitle => save({title: newTitle})"></editable-text></h1>
      <wa-icon-button v-if="saved" class="delete" name="trash" label="Delete theme" @click="deleteSaved"></wa-icon-button>
    </div>

    <wa-button v-if="tweaked || uid" @click="save()" :disabled="!unsavedChanges"
      :variant="unsavedChanges ? 'success' : 'neutral'" size="small" :appearance="unsavedChanges ? 'accent' : 'outlined'">
      <span slot="prefix" class="icon-modifier">
        <wa-icon name="sidebar" variant="regular"></wa-icon>
        <wa-icon name="circle-plus" class="modifier" style="color: light-dark(var(--wa-color-green-70), var(--wa-color-green-60));"></wa-icon>
      </span>
      <span v-content="unsavedChanges ? 'Save' : 'Saved'">Save</span>
    </wa-button>
    <wa-button size="small" @click="ui.showCode = !showCode" appearance="outlined">
      <wa-icon name="code" variant="solid"></wa-icon>
      Code
    </wa-button>
    <wa-drawer label="Theme code" with-header :open="ui.showCode" @wa-after-hide="ui.showCode = false" light-dismiss>
      <wa-tab-group class="import-stylesheet-code" :active="ui.code" @wa-tab-show="ui.code = $event.detail.name">
        <wa-tab panel="css">CSS</wa-tab>
        <wa-tab-panel name="css">
          <pre class="language-css"><code v-content:html="code.css.highlighted"></code></pre>
          <wa-button :href="code.css.blob" :download="`theme-${slug}.css`">
            <wa-icon name="arrow-down-to-line" variant="solid" slot="prefix"></wa-icon>
            Download
          </wa-button>
        </wa-tab-panel>

        <wa-tab panel="html">HTML</wa-tab>
        <wa-tab-panel name="html">
          <pre class="language-html"><code v-content:html="code.html.highlighted"></code></pre>
        </wa-tab-panel>
      </wa-tab-group>
    </wa-drawer>
  </header>

  <ui-panel-container class="sidebar" slot="navigation" v-model="ui.panel">
    <ui-panel v-model="ui.panel" value="theme" :step="0">
      <template #title>
        <label for="starting-theme">Starting theme</label>
      </template>

      <wa-radio-group id="starting-theme" class="card-picker scrollable" v-model="theme.base">
          <wa-radio v-for="(themeMeta, themeId) in themes" :value="themeId" size="small" :aria-selected="!theme.base && themeId === 'default' ? 'true' : null">
            <theme-card :theme="themeId"></theme-card>
          </wa-radio>
      </wa-radio-group>

      <footer v-if="theme.base">
        <span class="wa-caption-m">Excellent choice!</span>
        <wa-button @click=" ui.panel = 'styles'" class="next" size="small" variant="success">
          Next
          <wa-icon library="system" name="chevron-right" variant="solid" slot="suffix"></wa-icon>
        </wa-button>
      </footer>
    </ui-panel>

    <ui-panel v-model="ui.panel" value="styles" title="Styles" :step="1">
      <palette-card :palette="computed.palette" size="small" :action="e => ui.panel = 'color'" role="button" tabindex="0">
        <div>
          Color Palette
          <div class="wa-caption-m" v-text="palettes[computed.palette]?.title"></div>
        </div>
        <wa-icon name="angle-right" variant="regular"></wa-icon>
      </palette-card>

      <theme-card :theme="computed.typography" type="typography" size="small" :action="e => ui.panel = 'typography'">
        <div>
          Typography
          <div class="wa-caption-m" v-text="themes[computed.typography]?.title"></div>
        </div>
        <wa-icon name="angle-right" variant="regular"></wa-icon>
      </theme-card>

      <icons-card size="small" disabled :action="e => ui.panel = 'icons'">
        <div>
          Icons <wa-badge variant="warning" class="coming-soon">Coming soon</wa-badge>
          <div class="wa-caption-m">Font Awesome Classic &bull; Solid</div>
        </div>
        <wa-icon name="angle-right" variant="regular"></wa-icon>
      </icons-card>
    </ui-panel>

    <ui-panel v-model="ui.panel" value="color" title="Color Palette" :step="2">
      <wa-radio-group class="card-picker scrollable" v-model="theme.palette" size="small">
        <wa-radio v-for="(palette, paletteId) in palettes" :value="paletteId">
          <palette-card :palette="paletteId" size="small" :aria-selected="!theme.palette && paletteId === themes[computed.base].palette ? 'true' : null">
            <template #extra><wa-badge appearance="outlined" variant="neutral" v-if="paletteId === themes[computed.base].palette">Default</wa-badge></template>
          </palette-card>
        </wa-radio>
      </wa-radio-group>
    </ui-panel>

    <ui-panel v-model="ui.panel" value="typography" title="Typography" :step="2">
      <wa-radio-group class="card-picker scrollable" v-model="theme.typography" >
        <wa-radio v-for="(themeMeta, themeId) in themes" :value="themeId" size="small">
          <theme-card :theme="themeId" type="typography" size="small" :aria-selected="!theme.typography && themeId === theme.base ? 'true' : null">
            <template #extra><wa-badge appearance="outlined" variant="neutral" v-if="themeId === theme.base">Default</wa-badge></template>
          </theme-card>
        </wa-radio>
      </wa-radio-group>
    </ui-panel>
  </ui-panel-container>

  <div slot="main-header" class="preview-header">
    <wa-tab-group :active="ui.preview" @wa-tab-show="ui.preview = $event.detail.name">
      <wa-tab panel="app">App</wa-tab>
      <wa-tab panel="content">Content</wa-tab>

      <wa-tab-panel name="app"></wa-tab-panel>
      <wa-tab-panel name="content"></wa-tab-panel>
    </wa-tab-group>
  </div>
  <iframe class="preview" ref="preview" :src="`{{ page.url }}../preview/${ui.preview}/${urlParams}`"></iframe>
</wa-page>
