/* CSS for custom palettes only */
#seed-colors {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22ch, 1fr));
  gap: var(--wa-space-m);

  > .add-button {
    flex-flow: column wrap;
    height: auto;
    min-height: 15ch;
    border: var(--wa-panel-border-width) var(--wa-panel-border-style) var(--wa-color-surface-border);
    --border-color: var(--wa-color-surface-border);
    border-radius: var(--wa-panel-border-radius);
    background-color: var(--wa-color-surface-default);
    box-shadow: var(--wa-shadow-s);

    wa-icon {
      font-size: 200%;
      margin: 0;
      margin-top: 0.35em;
    }
  }

  > wa-card {
    --spacing: var(--wa-space-s);

    [slot='image'] {
      position: relative;
      height: 5.5rem;
      width: 100%;
      border-start-start-radius: var(--inner-border-radius);
      border-start-end-radius: var(--inner-border-radius);
      background-color: var(--color);
      color: canvastext;

      .original-color {
        position: absolute;
        top: var(--wa-space-s);
        left: var(--wa-space-s);
        padding: var(--wa-space-2xs);
        border: 1px solid hsl(0 0 100 / 50%);
        border-radius: var(--wa-border-radius-s);
        background-color: var(--color-original);
      }

      .name {
        position: absolute;
        bottom: var(--wa-space-xs);
        left: var(--wa-space-s);
        font-weight: var(--wa-font-weight-semibold);
      }
    }

    wa-input {
      margin-top: var(--wa-space-xs);
    }

    wa-icon-button {
      color: light-dark(black, white);
      transition: opacity var(--wa-transition-slow);
      --background-color-hover: oklab(from currentColor l a b / 15%);
      --text-color-hover: currentColor;
    }

    &:not(:hover, :focus-within) .delete-button {
      opacity: 0;
    }
  }

  .color-to-role {
    --border-width: 0;
    margin-inline-start: calc(-1 * var(--wa-space-3xs));

    &::part(tags) {
      margin-inline-start: 0;
    }

    &::part(combobox) {
      padding: var(--wa-space-3xs);
      min-height: auto;
    }
  }
}

wa-icon-button.delete-button {
  position: absolute;
  top: var(--wa-space-s);
  right: var(--wa-space-s);
  --text-color-hover: var(--wa-color-danger-on-normal);
}

.pinned-icon {
  opacity: 70%;
}

#suggested-colors {
  display: grid;
  grid-template-columns: minmax(auto, 30ch) 1fr;
  gap: var(--wa-space-m);
  margin-top: var(--wa-space-2xl);
  container-name: suggested-colors;
  container-type: inline-size;

  @container (width < 30ch) {
    grid-template-columns: 1fr;
  }

  h3 {
    margin-bottom: 0;
  }

  p.wa-caption-s {
    margin-block: var(--wa-space-s);
    text-wrap: pretty;
  }

  .suggestions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6ch, 1fr));
    gap: var(--wa-space-s);

    wa-button {
      /* --background-color-hover: var(--background-color); */

      wa-icon {
        transition: var(--wa-transition-normal);
      }

      &:not(:focus, :hover) wa-icon {
        opacity: 0;
      }
    }
  }
}

#roles {
  margin-top: var(--wa-space-2xl);

  > div {
    display: flex;
    flex-wrap: wrap;
    gap: var(--wa-space-m);

    > wa-select {
      flex: 1;
      max-width: 20ch;
    }
  }
}

.pin-color {
}
