/* CSS included both in predefined palettes and custom ones */
:root {
  --fa-sliders-simple: '\f1de';
}

.core-column {
  position: relative;

  > wa-dropdown {
    min-width: 100%;
  }
}

wa-dropdown > .color.swatch {
  cursor: pointer;
}

.color-slider {
  display: grid;
  grid-template-columns: auto 1fr auto;

  wa-slider {
    grid-column: 1 / -1;
    --track-height: 1em;
    --track-color-inactive: transparent;
    --track-color-active: transparent;
    --thumb-color: var(--color);
    --thumb-shadow: 0 0 0 var(--thumb-gap) var(--wa-color-surface-default),
      var(--wa-shadow-offset-x-m) var(--wa-shadow-offset-y-m) var(--wa-shadow-blur-m)
        calc(var(--wa-shadow-offset-x-m) * -1 + var(--thumb-gap)) var(--wa-color-shadow);

    &:active {
      --thumb-size: 2em;
    }

    &::part(base) {
      background: linear-gradient(to right in var(--color-interpolation-space, oklab), var(--color-1), var(--color-2));
    }
  }

  [slot='label'] {
    min-height: 1.1lh;
  }

  .clear-button {
    vertical-align: middle;
    font-size: var(--wa-font-size-xs);

    &:not(.tweaked *) {
      display: none;
    }
  }

  .label-min,
  .label-max {
    font-size: var(--wa-font-size-xs);
  }

  .label-min {
    grid-column: 1;
    margin-inline-start: 0.15em;
  }

  .label-max {
    grid-column: 3;
    margin-inline-end: 0.1em;
  }
}

[data-component='oklch.h'] {
  --color-interpolation-space: oklch increasing hue;
}

.popup {
  display: flex;
  flex-flow: column;
  gap: var(--wa-space-m);
  background: var(--wa-color-surface-default);
  color: var(--wa-color-text-normal);
  border: 1px solid var(--wa-color-surface-border);
  padding: var(--wa-space-m) var(--wa-space-l);
  border-radius: var(--wa-border-radius-m);

  .copyable-code {
    display: flex;
    gap: var(--wa-space-xs);
    align-items: center;

    code {
      flex: 1;
      max-width: 20ch;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  > legend {
    /* Force legend to be rendered inside the fieldset */
    float: left;
    clear: all;
    padding: 0;
  }

  .wa-heading-s {
    display: flex;
    gap: var(--wa-gap-xs);
    align-items: center;

    > :nth-child(1 of .align-end) {
      margin-inline-start: auto;
    }
  }
}

.color-scale {
  th {
    white-space: nowrap;
  }

  .tweak-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: var(--wa-space-s);
    opacity: var(--tweak-icon-opacity, 0%);
  }

  .color.swatch:hover {
    --tweak-icon-opacity: 40%;
  }

  &.tweaked .core-column {
    --tweak-icon-opacity: 80%;
  }
}

.tweaked-callout {
  padding: var(--wa-space-xs);
  padding-inline-start: var(--wa-space-m);
  margin-block: var(--wa-space-m);
  align-items: center;

  &:not(.tweaked-any *) {
    visibility: hidden;
  }

  &::part(message) {
    display: flex;
    align-items: center;
    gap: var(--wa-space-xs);
  }

  wa-button:first-of-type {
    margin-inline-start: auto;
  }
}

/* Better UI before Vue initializes */
[v-if='saved'],
[v-if^='tweaked'],
[v-cloak] {
  display: none;
}

.static-palette:has(+ .colors:not([v-cloak])) {
  display: none;
}

.core-color {
  wa-radio-button::part(base) {
    width: 2em;
    height: 2em;
    padding: 0;
    border-radius: var(--wa-border-radius-circle);
    background: var(--color);
    background-clip: border-box;
  }

  wa-radio-button:is([checked], :state(checked))::part(base) {
    box-shadow:
      inset 0 0 0 var(--indicator-width) var(--indicator-color),
      inset 0 0 0 calc(var(--indicator-width) + 1.5px) var(--wa-color-surface-default);
  }

  &::part(form-control-input) {
    gap: var(--wa-space-xs);
  }
}

[data-slug='custom'] > :not(.seeded) #seed-colors ~ :not(#saved),
#outline:has(+ main > [data-slug='custom'] > :not(.seeded)) li:nth-child(n + 2) {
  display: none;
}

[id='palette-info'] {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-flow: column;

  > * {
    grid-column: 1;
  }
}

.hue-wheel {
  --r: clamp(2em, 6rem, 25vmin);
  grid-column: 2;
  grid-row: 1 / 5;
  position: relative;
  width: calc(var(--r) * 2);
  aspect-ratio: 1;
  border-radius: 50%;
  --lc: var(--avg-l) var(--max-c);
  --lc2: var(--avg-l) calc(var(--max-c) / 2);
  margin-top: calc(var(--r) * -0.05);
  background: conic-gradient(
    in oklch,
    oklch(var(--lc) 0),
    oklch(var(--lc) 60),
    oklch(var(--lc) 120),
    oklch(var(--lc) 180),
    oklch(var(--lc) 240),
    oklch(var(--lc) 300),
    oklch(var(--lc) 360)
  );

  &,
  &::before {
    --stops: oklch(var(--lc) 0), oklch(var(--lc) 60), oklch(var(--lc) 120), oklch(var(--lc) 180), oklch(var(--lc) 240),
      oklch(var(--lc) 300), oklch(var(--lc) 360);
  }

  &::before {
    content: '';
    display: block;
    height: 100%;
    border-radius: 50%;
    -webkit-mask: radial-gradient(white, transparent);
    background: radial-gradient(oklch(var(--avg-l) calc(var(--gray-chroma) * var(--max-c)) 0) 5%, transparent 30%),
      conic-gradient(
        in oklch,
        oklch(var(--lc2) 0),
        oklch(var(--lc2) 60),
        oklch(var(--lc2) 120),
        oklch(var(--lc2) 180),
        oklch(var(--lc2) 240),
        oklch(var(--lc2) 300),
        oklch(var(--lc2) 360)
      );
  }

  .color {
    --scale-c: calc(var(--c) / var(--max-c));
    --distance: calc(var(--r) * var(--scale-c));

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(calc(var(--h) * 1deg - 90deg)) translateX(var(--distance));
    position: absolute;
    z-index: 1;
    width: calc(1.2em + 0.3em * var(--scale-c));
    aspect-ratio: 1;

    &:hover {
      --scale: 1.2;
      --line-color: white;
      --line-style: solid;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 0;
      border-top: 2px var(--line-style, dashed) var(--line-color, var(--wa-color-gray-80));
      padding-top: 100%;
      top: calc(50% - 1px);
      right: 50%;
      width: var(--distance);
    }

    &::after {
      content: '';
      display: block;
      position: relative;
      height: 100%;
      border-radius: 50%;
      border: 2px solid white;
      box-shadow: var(--wa-shadow-l);
      background: var(--color);
      transition: var(--wa-transition-fast);
      scale: var(--scale, 1);
    }
  }

  wa-tooltip {
    /* Prevent flickering */
    pointer-events: none;
  }
}

.scale-filter {
  wa-tab wa-icon {
    margin-right: 0.4em;
  }
}

.title wa-icon-button[name='pencil'] {
  margin-inline-start: var(--wa-space-xs);
}

.selected-swatch,
.color-select wa-option::before {
  content: '';
  display: inline-block;
  width: 1.2em;
  aspect-ratio: 1;
  flex: none;
  border-radius: var(--wa-border-radius-m);
  background: var(--color);
  border: 1px solid var(--wa-color-surface-default);
}

.color-select wa-option {
  white-space: nowrap;

  &::before {
    width: 1em;
    margin-inline: var(--wa-space-xs);
  }

  &::part(checked-icon) {
    order: 2;
  }

  wa-icon[name='square-plus'] {
    vertical-align: -0.15em;
    color: var(--color-gray);
    opacity: 0.6;
  }
}

.color-popup {
  display: block;

  .popup {
    min-width: 25ch;
  }
}
