/*
 * Utility to minimize FOUCE and show custom elements only after they're registered
 */
:not(:defined),
:state(wa-defined):has(:not(:defined)),
.wa-cloak:has(:not(:defined)) {
  animation: 2s step-end wa-fade-in;
}

@keyframes wa-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
