/* Shadow styles for elements that have a size attribute. */

:host,
:where(.wa-size-s, .wa-size-m, .wa-size-l) {
  /* Defaults. Components are expected to override these */
  --size-xs: var(--wa-font-size-xs, 0.75rem); /* Used for hints etc */
  --size-s: var(--wa-font-size-s, 0.875rem); /* size=small */
  --size-m: var(--wa-font-size-m, 1rem); /* default */
  --size-l: var(--wa-font-size-l, 1.25rem); /* size=large */

  --space-xs: var(--wa-space-xs, 0.5rem);
  --space-s: var(--wa-space-s, 0.75rem);
  --space-m: var(--wa-space-m, 1rem);
  --space-l: var(--wa-space-l, 1.25rem);

  font-size: var(--wa-size);
}

:where(:root),
:host,
.wa-size-s,
.wa-size-m,
.wa-size-l {
  --_wa-form-control-height: calc(2 * var(--wa-space-smaller) + 1em * var(--wa-form-control-value-line-height));
  --wa-form-control-height: var(--_wa-form-control-height);

  @supports (height: round(1.2px, 1px)) {
    --wa-form-control-height: round(var(--_wa-form-control-height), 1px);
  }

  /* Each of these is 1 for the corresponding size and 0 otherwise */
  --wa-is-small: calc((var(--wa-size-index) - 1) * (var(--wa-size-index) - 2) / ((0 - 1) * (0 - 2)));
  --wa-is-medium: calc((var(--wa-size-index) - 0) * (var(--wa-size-index) - 2) / ((1 - 0) * (1 - 2)));
  --wa-is-large: calc((var(--wa-size-index) - 0) * (var(--wa-size-index) - 1) / ((2 - 0) * (2 - 1)));

  --wa-size: calc(
    var(--wa-is-small) * var(--size-s) + var(--wa-is-medium) * var(--size-m) + var(--wa-is-large) * var(--size-l)
  );
  --wa-size-smaller: calc(
    var(--wa-is-small) * var(--size-xs) + var(--wa-is-medium) * var(--size-s) + var(--wa-is-large) * var(--size-m)
  );
  --wa-space: calc(
    var(--wa-is-small) * var(--space-s) + var(--wa-is-medium) * var(--space-m) + var(--wa-is-large) * var(--space-l)
  );
  --wa-space-smaller: calc(
    var(--wa-is-small) * var(--space-xs) + var(--wa-is-medium) * var(--space-s) + var(--wa-is-large) * var(--space-m)
  );
}

:host([size='small']),
.wa-size-s {
  --wa-size-index: 0;
}

:root, /* Medium size is the default */
:host([size='medium']),
.wa-size-m {
  --wa-size-index: 1;
}

:host([size='large']),
.wa-size-l {
  --wa-size-index: 2;
}
