/**
 * Shadow styles for elements that have a size attribute and for the size utility classes.
 */
/* Defaults */
:where(:root),
:host {
  /* Defaults. Components are expected to override these */
  --wa-size-xsmall: var(--wa-font-size-xs, 0.75rem); /* Used for hints etc */
  --wa-size-small: var(--wa-font-size-s, 0.875rem); /* size=small */
  --wa-size-medium: var(--wa-font-size-m, 1rem); /* default */
  --wa-size-large: var(--wa-font-size-l, 1.25rem); /* size=large */

  --wa-space-xsmall: var(--wa-space-xs, 0.5rem);
  --wa-space-small: var(--wa-space-s, 0.75rem);
  --wa-space-medium: var(--wa-space-m, 1rem);
  --wa-space-large: var(--wa-space-l, 1.25rem);
}

:where(:root) {
  --wa-is-small: 0;
  --wa-is-medium: 1;
  --wa-is-large: 0;
}

:host,
:where(.wa-size-s, .wa-size-m, .wa-size-l) {
  font-size: var(--wa-size);
}

:where(:root),
:host,
.wa-size-s,
.wa-size-m,
.wa-size-l {
  --wa-size: calc(
    var(--wa-is-small, 0) * var(--wa-size-small) + var(--wa-is-medium, 1) * var(--wa-size-medium) +
      var(--wa-is-large, 0) * var(--wa-size-large)
  );
  --wa-size-smaller: calc(
    var(--wa-is-small, 0) * var(--wa-size-xsmall) + var(--wa-is-medium, 1) * var(--wa-size-small) +
      var(--wa-is-large, 0) * var(--wa-size-medium)
  );
  --wa-space: calc(
    var(--wa-is-small, 0) * var(--wa-space-small) + var(--wa-is-medium, 1) * var(--wa-space-medium) +
      var(--wa-is-large, 0) * var(--wa-space-large)
  );
  --wa-space-smaller: calc(
    var(--wa-is-small, 0) * var(--wa-space-xsmall) + var(--wa-is-medium, 1) * var(--wa-space-small) +
      var(--wa-is-large, 0) * var(--wa-space-medium)
  );

  --_wa-form-control-height: calc(2 * var(--wa-space-smaller) + 1em * var(--wa-form-control-value-line-height));
  --wa-form-control-height: var(--_wa-form-control-height);

  @supports (height: round(1.2px, 1px)) {
    --wa-form-control-height: round(var(--_wa-form-control-height), 1px);
  }
}

:host([size='small']),
.wa-size-s {
  --wa-is-small: 1;
  --wa-is-medium: 0;
  --wa-is-large: 0;
}

:where(:root), /* Medium size is the default */
:host([size='medium']),
.wa-size-m {
  --wa-is-small: 0;
  --wa-is-medium: 1;
  --wa-is-large: 0;
}

:host([size='large']),
.wa-size-l {
  --wa-is-small: 0;
  --wa-is-medium: 0;
  --wa-is-large: 1;
}
