{% set suffixes = [
  'fill-loud', 'fill-normal', 'fill-quiet',
  'border-loud', 'border-normal', 'border-quiet',
  'on-loud', 'on-normal', 'on-quiet'
] -%}

/**
 * Register color properties so that the space toggle hack can work.
 */
{% for suffix in suffixes %}
@property --wa-color-{{ suffix }} {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}
{% endfor %}

/**
 * Element defaults.
   We want these to resolve to inherit when inside a variant, and only be applied when not inside an explicit variant.
 */
:host(wa-button), .wa-button, button, input[type='button'], input[type='submit'],
:host(wa-tag), .wa-tag {
  {%- for suffix in suffixes %}
  --wa-color-{{ suffix }}: var(--wa-no-variant, var(--wa-color-neutral-{{ suffix }}));
  {%- endfor %}
}

:host(wa-callout), .wa-callout,
:host(wa-badge), .wa-badge {
  {%- for suffix in suffixes %}
  --wa-color-{{ suffix }}: var(--wa-no-variant, var(--wa-color-brand-{{ suffix }}));
  {%- endfor %}
}

/**
 * Variants
 */
{% for variant in variants %}
{{ ':root,' if variant === 'neutral' }}
.wa-{{ variant }},
:host([variant='{{ variant }}']) {
  {%- for suffix in suffixes %}
  --wa-color-{{ suffix }}: var(--wa-color-{{ variant }}-{{ suffix }});
  {%- endfor %}
}
{%- endfor %}

{% for variant in variants %}
.wa-{{ variant }},
{%- endfor %}
:host([variant]) {
  --wa-no-variant: /* space toggle */;
}
