@import url('brutalist/color.css');
@import url('default/space.css');
@import url('default/outlines.css');
@import url('default/typography.css');
@import url('default/rounding.css');
@import url('default/shadows.css');
@import url('default/transitions.css');
@import url('brutalist/groups.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@100;200;300;400;500;600;700&family=Space+Grotesk:wght@300..700&family=Space+Mono:wght@400;700&display=swap');

:where(:root),
:host,
.wa-theme-brutalist {
  /**
   * Typography
   */
  --wa-font-family-body: 'Space Grotesk', sans-serif;
  --wa-font-family-heading: 'IBM Plex Sans Condensed', sans-serif;
  --wa-font-family-code: 'Space Mono', monospace;
  --wa-font-family-longform: ui-serif, serif;

  --wa-font-weight-bold: 700;

  --wa-font-weight-heading: var(--wa-font-weight-semibold);

  /**
   * Spacing
   */
  --wa-space-scale: 1.125;

  /**
   * Borders
   */
  --wa-border-width-scale: 2;

  /**
   * Rounding
   */
  --wa-border-radius-scale: 0;

  /**
   * Shadows
   */
  --wa-shadow-blur-scale: 0;
  --wa-shadow-offset-x-scale: 4;
  --wa-shadow-offset-y-scale: 4;

  /**
   * Component Groups
   */
  --wa-form-control-activated-color: var(--wa-color-neutral-fill-loud);
}
