:host {
  --spacing: var(--wa-space-xl);
  --border-width: var(--wa-card-border-width, var(--wa-panel-border-width));
  --border-radius: var(--wa-card-border-radius, var(--wa-panel-border-radius));

  --inner-border-radius: calc(var(--border-radius) - var(--border-width));

  display: flex;
  flex-direction: column;
  background-color: var(--wa-card-background-color, var(--wa-color-surface-default));
  border-color: var(--wa-card-border-color, var(--wa-color-surface-border));
  border-radius: var(--border-radius);
  border-style: var(--wa-panel-border-style);
  border-width: var(--border-width);
  box-shadow: var(--wa-card-shadow, var(--wa-shadow-s));
  color: var(--wa-color-text-normal);
}

.image,
:host(:not([with-image])) .header {
  border-start-start-radius: var(--inner-border-radius);
  border-start-end-radius: var(--inner-border-radius);
}

.image {
  display: flex;
  background-color: var(--wa-card-image-background-color, transparent);

  &::slotted(img) {
    display: block;
    width: 100%;
    border-start-start-radius: inherit !important;
    border-start-end-radius: inherit !important;
  }
}

.header {
  display: block;
  border-bottom: inherit;
  padding: calc(var(--spacing) / 2) var(--spacing);
  background-color: var(--wa-card-header-background-color, transparent);
}

.body {
  display: block;
  padding: var(--spacing);
}

.footer {
  display: block;
  border-top: inherit;
  border-end-start-radius: var(--inner-border-radius);
  border-end-end-radius: var(--inner-border-radius);
  padding: var(--spacing);
  background-color: var(--wa-card-footer-background-color, transparent);
}

:host(:not([with-header])) .header,
:host(:not([with-footer])) .footer,
:host(:not([with-image])) .image {
  display: none;
}
