:root,
:host {
  --wa-color-rose-95: #feeef6;
  --wa-color-rose-90: #fdddee;
  --wa-color-rose-80: #fab5d9;
  --wa-color-rose-70: #f88cc4;
  --wa-color-rose-60: #f55cab;
  --wa-color-rose-50: #cf3585;
  --wa-color-rose-40: #9f2866;
  --wa-color-rose-30: #7d2050;
  --wa-color-rose-20: #5a173a;
  --wa-color-rose-10: #370e23;
  --wa-color-rose-05: #210815;

  --wa-color-red-95: #ffeef1;
  --wa-color-red-90: #ffdde3;
  --wa-color-red-80: #ffb6c1;
  --wa-color-red-70: #ff8d9e;
  --wa-color-red-60: #ff5b74;
  --wa-color-red-50: #da354e;
  --wa-color-red-40: #a5283b;
  --wa-color-red-30: #82202f;
  --wa-color-red-20: #601722;
  --wa-color-red-10: #3a0e15;
  --wa-color-red-05: #25090d;

  --wa-color-yellow-95: #f7f5ba;
  --wa-color-yellow-90: #fbe76e;
  --wa-color-yellow-80: #f0c600;
  --wa-color-yellow-70: #dfa600;
  --wa-color-yellow-60: #ca8707;
  --wa-color-yellow-50: #a96611;
  --wa-color-yellow-40: #864812;
  --wa-color-yellow-30: #6f3513;
  --wa-color-yellow-20: #542512;
  --wa-color-yellow-10: #31160a;
  --wa-color-yellow-05: #1e0e04;

  --wa-color-lime-95: #ddfcc5;
  --wa-color-lime-90: #b2f987;
  --wa-color-lime-80: #77e24b;
  --wa-color-lime-70: #61c545;
  --wa-color-lime-60: #4ca83e;
  --wa-color-lime-50: #378634;
  --wa-color-lime-40: #266529;
  --wa-color-lime-30: #1b4f22;
  --wa-color-lime-20: #113a1a;
  --wa-color-lime-10: #0a2212;
  --wa-color-lime-05: #06150b;

  --wa-color-green-95: #cdfed9;
  --wa-color-green-90: #8afdaf;
  --wa-color-green-80: #00e873;
  --wa-color-green-70: #00ca69;
  --wa-color-green-60: #00ac5d;
  --wa-color-green-50: #00894d;
  --wa-color-green-40: #00673c;
  --wa-color-green-30: #005131;
  --wa-color-green-20: #003c25;
  --wa-color-green-10: #002318;
  --wa-color-green-05: #01160f;

  --wa-color-teal-95: #daf8f9;
  --wa-color-teal-90: #b3f1f2;
  --wa-color-teal-80: #4bdde1;
  --wa-color-teal-70: #00c2c7;
  --wa-color-teal-60: #00a6aa;
  --wa-color-teal-50: #008185;
  --wa-color-teal-40: #006365;
  --wa-color-teal-30: #004e50;
  --wa-color-teal-20: #003839;
  --wa-color-teal-10: #002223;
  --wa-color-teal-05: #001415;

  --wa-color-blue-95: #e0f6ff;
  --wa-color-blue-90: #c1ecff;
  --wa-color-blue-80: #73d5ff;
  --wa-color-blue-70: #19bbff;
  --wa-color-blue-60: #009ee1;
  --wa-color-blue-50: #007cb0;
  --wa-color-blue-40: #005e87;
  --wa-color-blue-30: #004a6a;
  --wa-color-blue-20: #00364c;
  --wa-color-blue-10: #00212e;
  --wa-color-blue-05: #00131b;

  --wa-color-indigo-95: #f1f1ff;
  --wa-color-indigo-90: #e3e3ff;
  --wa-color-indigo-80: #c4c4ff;
  --wa-color-indigo-70: #a6a7ff;
  --wa-color-indigo-60: #8788ff;
  --wa-color-indigo-50: #6667d9;
  --wa-color-indigo-40: #4e4ea5;
  --wa-color-indigo-30: #3d3e82;
  --wa-color-indigo-20: #2c2c5d;
  --wa-color-indigo-10: #1a1a38;
  --wa-color-indigo-05: #0f0f20;

  --wa-color-violet-95: #faeefd;
  --wa-color-violet-90: #f5defc;
  --wa-color-violet-80: #e9b9f8;
  --wa-color-violet-70: #dd93f5;
  --wa-color-violet-60: #d06af1;
  --wa-color-violet-50: #a352bd;
  --wa-color-violet-40: #7c3f90;
  --wa-color-violet-30: #623171;
  --wa-color-violet-20: #462351;
  --wa-color-violet-10: #2a1531;
  --wa-color-violet-05: #180c1c;

  --wa-color-gray-95: #f2f2f4;
  --wa-color-gray-90: #e5e5e9;
  --wa-color-gray-80: #c8c9d1;
  --wa-color-gray-70: #acaebb;
  --wa-color-gray-60: #9194a4;
  --wa-color-gray-50: #70758a;
  --wa-color-gray-40: #545868;
  --wa-color-gray-30: #424551;
  --wa-color-gray-20: #30323b;
  --wa-color-gray-10: #1c1d23;
  --wa-color-gray-05: #111215;
}
