:root,
:host {
  --wa-color-rose-95: #ffedfb;
  --wa-color-rose-90: #ffdbf7;
  --wa-color-rose-80: #ffb1ed;
  --wa-color-rose-70: #ff82e3;
  --wa-color-rose-60: #e960ca;
  --wa-color-rose-50: #b64b9e;
  --wa-color-rose-40: #8b3979;
  --wa-color-rose-30: #6e2d5f;
  --wa-color-rose-20: #4f2044;
  --wa-color-rose-10: #2f1429;
  --wa-color-rose-05: #1c0b18;

  --wa-color-red-95: #ffeef2;
  --wa-color-red-90: #ffdde6;
  --wa-color-red-80: #ffb5c7;
  --wa-color-red-70: #ff8ba7;
  --wa-color-red-60: #ff597f;
  --wa-color-red-50: #d93055;
  --wa-color-red-40: #a62541;
  --wa-color-red-30: #841d33;
  --wa-color-red-20: #5f1524;
  --wa-color-red-10: #3b0d16;
  --wa-color-red-05: #23070c;

  --wa-color-yellow-95: #f6f7a7;
  --wa-color-yellow-90: #f5ea3d;
  --wa-color-yellow-80: #e3ca09;
  --wa-color-yellow-70: #cfac0b;
  --wa-color-yellow-60: #b98f0e;
  --wa-color-yellow-50: #976d0f;
  --wa-color-yellow-40: #78500f;
  --wa-color-yellow-30: #623d0e;
  --wa-color-yellow-20: #492a0c;
  --wa-color-yellow-10: #2c1a06;
  --wa-color-yellow-05: #190f03;

  --wa-color-lime-95: #e2f9d8;
  --wa-color-lime-90: #c2f3b2;
  --wa-color-lime-80: #6de350;
  --wa-color-lime-70: #5bc548;
  --wa-color-lime-60: #4aa83f;
  --wa-color-lime-50: #388432;
  --wa-color-lime-40: #296527;
  --wa-color-lime-30: #1f4f20;
  --wa-color-lime-20: #153917;
  --wa-color-lime-10: #0c220f;
  --wa-color-lime-05: #071409;

  --wa-color-green-95: #d9fae6;
  --wa-color-green-90: #b1f5cc;
  --wa-color-green-80: #3ee581;
  --wa-color-green-70: #36c770;
  --wa-color-green-60: #2eaa60;
  --wa-color-green-50: #24844b;
  --wa-color-green-40: #1b6539;
  --wa-color-green-30: #154f2d;
  --wa-color-green-20: #0f3920;
  --wa-color-green-10: #092213;
  --wa-color-green-05: #05140b;

  --wa-color-teal-95: #d7f9fa;
  --wa-color-teal-90: #adf2f4;
  --wa-color-teal-80: #33dee5;
  --wa-color-teal-70: #00c2c9;
  --wa-color-teal-60: #00a5ac;
  --wa-color-teal-50: #008186;
  --wa-color-teal-40: #006366;
  --wa-color-teal-30: #004e51;
  --wa-color-teal-20: #00383a;
  --wa-color-teal-10: #002223;
  --wa-color-teal-05: #001415;

  --wa-color-blue-95: #e1f5ff;
  --wa-color-blue-90: #c3ecff;
  --wa-color-blue-80: #7bd4ff;
  --wa-color-blue-70: #38b9ff;
  --wa-color-blue-60: #2e9ce6;
  --wa-color-blue-50: #257ab4;
  --wa-color-blue-40: #1d5d8a;
  --wa-color-blue-30: #16496d;
  --wa-color-blue-20: #0e344e;
  --wa-color-blue-10: #052030;
  --wa-color-blue-05: #03121c;

  --wa-color-indigo-95: #f5f0ff;
  --wa-color-indigo-90: #ebe1ff;
  --wa-color-indigo-80: #d3c0ff;
  --wa-color-indigo-70: #ba9fff;
  --wa-color-indigo-60: #a07fff;
  --wa-color-indigo-50: #7854fe;
  --wa-color-indigo-40: #5a41c3;
  --wa-color-indigo-30: #45339a;
  --wa-color-indigo-20: #31256f;
  --wa-color-indigo-10: #1d1643;
  --wa-color-indigo-05: #110d27;

  --wa-color-violet-95: #f8efff;
  --wa-color-violet-90: #f1dfff;
  --wa-color-violet-80: #e1bbff;
  --wa-color-violet-70: #d197ff;
  --wa-color-violet-60: #bf70ff;
  --wa-color-violet-50: #9e49e2;
  --wa-color-violet-40: #7938ad;
  --wa-color-violet-30: #5f2c88;
  --wa-color-violet-20: #441f62;
  --wa-color-violet-10: #29133b;
  --wa-color-violet-05: #180b22;

  --wa-color-gray-95: #f2f2f4;
  --wa-color-gray-90: #e5e5e9;
  --wa-color-gray-80: #c8c9d1;
  --wa-color-gray-70: #acaebb;
  --wa-color-gray-60: #9194a4;
  --wa-color-gray-50: #70758a;
  --wa-color-gray-40: #545868;
  --wa-color-gray-30: #424551;
  --wa-color-gray-20: #30323b;
  --wa-color-gray-10: #1c1d23;
  --wa-color-gray-05: #111215;
}
