:root,
:host {
  --wa-color-red-95: #ffeef0;
  --wa-color-red-90: #fedee0;
  --wa-color-red-80: #fdb8ba;
  --wa-color-red-70: #fb9191;
  --wa-color-red-60: #f6665e;
  --wa-color-red-50: #d83a00;
  --wa-color-red-40: #a42e00;
  --wa-color-red-30: #812500;
  --wa-color-red-20: #5e1a00;
  --wa-color-red-10: #3e0d00;
  --wa-color-red-05: #1d0f0b;

  --wa-color-yellow-95: #fff28f;
  --wa-color-yellow-90: #ffdc2b;
  --wa-color-yellow-80: #ffba2d;
  --wa-color-yellow-70: #f19c30;
  --wa-color-yellow-60: #d78031;
  --wa-color-yellow-50: #af5f2c;
  --wa-color-yellow-40: #8a4527;
  --wa-color-yellow-30: #703423;
  --wa-color-yellow-20: #52241c;
  --wa-color-yellow-10: #301613;
  --wa-color-yellow-05: #171107;

  --wa-color-green-95: #e2f8df;
  --wa-color-green-90: #c2f2c1;
  --wa-color-green-80: #68e27a;
  --wa-color-green-70: #00cb50;
  --wa-color-green-60: #00ae4b;
  --wa-color-green-50: #008840;
  --wa-color-green-40: #006834;
  --wa-color-green-30: #00522c;
  --wa-color-green-20: #003b22;
  --wa-color-green-10: #002418;
  --wa-color-green-05: #0b140e;

  --wa-color-blue-95: #e9f3ff;
  --wa-color-blue-90: #d2e8ff;
  --wa-color-blue-80: #9eceff;
  --wa-color-blue-70: #64b4ff;
  --wa-color-blue-60: #409ae7;
  --wa-color-blue-50: #2f79b4;
  --wa-color-blue-40: #235c89;
  --wa-color-blue-30: #1a496b;
  --wa-color-blue-20: #12344d;
  --wa-color-blue-10: #0b1f2e;
  --wa-color-blue-05: #0c131a;

  --wa-color-primary-95: #f9effc;
  --wa-color-primary-90: #f3dffa;
  --wa-color-primary-80: #e4bbf5;
  --wa-color-primary-70: #d498f1;
  --wa-color-primary-60: #c274ed;
  --wa-color-primary-50: #9759be;
  --wa-color-primary-40: #724592;
  --wa-color-primary-30: #583674;
  --wa-color-primary-20: #3e2753;
  --wa-color-primary-10: #251832;
  --wa-color-primary-05: #0f1310;

  --wa-color-base-95: #f2f2f2;
  --wa-color-base-90: #e6e6e6;
  --wa-color-base-80: #c9c9c9;
  --wa-color-base-70: #afafaf;
  --wa-color-base-60: #959595;
  --wa-color-base-50: #747474;
  --wa-color-base-40: #585858;
  --wa-color-base-30: #454545;
  --wa-color-base-20: #313131;
  --wa-color-base-10: #1d1d1d;
  --wa-color-base-05: #0f1310;
}
