.wa\:product-overview {
  & .wa\:product-overview\:hero {
    justify-self: center;

    & > * {
      border-radius: var(--wa-panel-corners);
      max-height: 66vh;
      position: sticky;
      top: var(--wa-grid-gap);
    }
  }

  & .wa\:product-overview\:price {
    font-size: var(--wa-font-size-xl);
    font-weight: var(--wa-font-weight-medium);

    & s {
      color: var(--wa-color-text-quiet);
      font-weight: var(--wa-font-weight-light);
    }
  }
}

.wa\:product-reviews {
  & .wa\:product-reviews\:breakdown {
    & ol {
      font-size: var(--wa-font-size-s);
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    & wa-icon {
      color: var(--wa-color-yellow-70);
    }

    & :first-child {
      flex: 0 0 1ch;
    }

    & :last-child {
      flex: 0 0 3ch;
      text-align: end;
    }

    & wa-progress-bar {
      --height: 1em;
      --indicator-color: var(--wa-color-yellow-70);
    }
  }

  & .wa\:product-reviews\:attribution {
    line-height: var(--wa-font-line-height-compact);
  }
}

.wa\:product-list-simple {
  & .wa\:product-list-simple\:items {
    --wa-grid-gap: var(--wa-space-xl);

    & [slot='image'] {
      border-radius: var(--wa-corners-s);
    }
  }
  & wa-card {
    --background: none;
    --border-color: transparent;
    --border-radius: 0;
    --box-shadow: none;
    --padding: var(--wa-space-s);

    &::part(base) {
      height: 100%;
    }
  }
}

.wa\:collection {
  position: relative;

  & wa-card::part(base) {
    height: 100%;
  }

  & :first-child {
    align-self: center;
  }
}
.wa\:collection::before {
  content: '';
  background-color: var(--wa-color-neutral-fill-subtle);
  position: absolute;
  height: calc(100% - var(--wa-space-xl) * 2);
  width: 200vw;
  left: -100vw;
  margin-block: var(--wa-space-xl);
  z-index: -2;
}

.wa\:blog-hero-overflowing {
  overflow: auto;

  & > [class*='wa\:hero-backdrop'] {
    background-image: linear-gradient(160deg, var(--wa-color-brand-spot), var(--wa-color-brand-spot-darker));

    --wa-grid-gap: var(--wa-space-3xl);
    --wa-grid-size: 30ch;
    display: grid;
    gap: var(--wa-grid-gap);
    grid-template-columns: repeat(auto-fit, minmax(min(var(--wa-grid-size), 100%), 1fr));

    margin-block-end: var(--wa-grid-gap);
    border-radius: var(--wa-panel-corners);
    color: var(--wa-color-brand-text-on-spot);
    padding: var(--wa-space-3xl);

    & > *:first-child {
      align-self: center;
    }

    & > *:last-child {
      margin-block-end: calc((var(--wa-grid-gap) * 2 * -1));
    }
  }

  & wa-avatar::part(base) {
    background-color: var(--wa-color-neutral-fill-subtle);
    color: var(--wa-color-neutral-text-on-fill);
  }
}

.wa\:blog_header {
  border-radius: var(--wa-panel-corners);
  padding: var(--wa-space-3xl);
  background-color: var(--wa-color-brand-spot-darker);
  color: var(--wa-color-brand-text-on-spot);
  text-align: center;

  & > *:first-child {
    margin-block-start: 0;
  }

  & > *:last-child {
    margin-block-end: 0;
  }
}

.wa\:blog-post {
  font-size: var(--wa-font-size-l);
  margin-inline: auto;
  max-inline-size: 60ch;

  & > * {
    margin-block: 0;
  }

  & > * + * {
    margin-block-start: var(--wa-space-3xl);
  }

  & .wa\:post-body {
    & > *:first-child::first-letter {
      font-family: var(--wa-font-family-longform);
      -webkit-initial-letter: 3;
      initial-letter: 3;
      margin-inline-end: var(--wa-space-2xs);
    }

    & > * {
      margin-block: 0;
    }

    & > * + * {
      margin-block-start: var(--wa-space-xl);
    }
  }
}

.wa\:post-footer {
  font-size: var(--wa-font-size-m);

  gap: var(--wa-space-s);

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wa\:post-reactions .wa\:count {
  margin-inline-start: var(--wa-space-xs);
}

.wa\:post-comments {
  font-size: var(--wa-font-size-m);
}

.wa\:comment {
  gap: var(--wa-space-s);

  display: flex;
  align-items: flex-start;
}

.wa\:comment-content {
  flex: 1 1 auto;
}

.wa\:comment-details {
  gap: var(--wa-space-s);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wa\:comment-actions {
  gap: var(--wa-space-m);

  display: flex;
  align-items: center;
}

.wa\:reaction-like {
  gap: var(--wa-space-3xs);

  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  & wa-icon-button {
    color: var(--wa-color-neutral-text-on-surface);
  }
}

.wa\:comment-bubble {
  background-color: var(--wa-color-neutral-fill-subtle);
  border-radius: var(--wa-form-controls-corners);
  border-start-start-radius: 0;
  padding: var(--wa-space-m);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 1rem solid transparent;
    border-right-color: var(--wa-color-neutral-fill-subtle);
    border-left: 0;
    border-top: 0;
    margin-top: 0;
    margin-left: -0.5rem;
  }
}

.wa\:blog-subscribe-cta {
  background-color: var(--wa-color-brand-fill-subtle);
  padding: var(--wa-space-3xl);
  border-radius: var(--wa-panel-corners);
  box-shadow: var(--wa-shadow-level-1);

  --wa-grid-gap: var(--wa-space-m);
  --wa-grid-size: 30ch;
  display: grid;
  gap: var(--wa-grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(min(var(--wa-grid-size), 100%), 1fr));

  & h2 {
    color: var(--wa-color-brand-text-on-fill);
  }

  & p {
    color: var(--wa-color-neutral-text-on-fill);
  }

  & form {
    --wa-grid-gap: var(--wa-space-s);
    --wa-grid-size: 30ch;
    gap: var(--wa-grid-gap);

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & > wa-input {
      flex: 1 1 auto;
    }
  }
}

.wa\:cta-description {
  & > * {
    margin-block: 0;
  }
  & > * + * {
    margin-block-start: var(--wa-space-s);
  }
}

.wa\:blog-recommended-posts {
  background-color: var(--wa-color-neutral-fill-subtle);
  padding: var(--wa-space-3xl);
  border-radius: var(--wa-panel-corners);
  box-shadow: var(--wa-shadow-level-1);

  & > * {
    margin-block: 0;
  }

  & > * + * {
    margin-block-start: var(--wa-space-3xl);
  }

  & article {
    & > * {
      margin-block: 0;
    }

    & > * + * {
      margin-block-start: var(--wa-space-m);
    }
  }

  & .wa\:post-details {
    color: var(--wa-color-text-quiet);
  }
}

.wa\:post-link {
  & h4 {
    line-height: 1;
  }
  & p {
    font-size: var(--wa-font-size-s);
  }
}

.wa\:post-details {
  font-size: var(--wa-font-size-s);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wa\:post-author {
  --wa-grid-gap: var(--wa-space-s);
  --wa-grid-size: 30ch;
  gap: var(--wa-grid-gap);

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.wa\:post-list {
  --wa-grid-gap: var(--wa-space-3xl);
  --wa-grid-size: 15ch;
  display: grid;
  gap: var(--wa-grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(min(var(--wa-grid-size), 100%), 1fr));
}

.wa\:post-actions {
  gap: var(--wa-space-m);

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.wa\:comment-composer {
  gap: var(--wa-space-s);

  display: flex;
  align-items: center;

  & wa-textarea {
    flex: 1 1 auto;
  }
}
