.wa\:product-overview {
  & .wa\:product-overview\:hero {
    justify-self: center;

    & > * {
      border-radius: var(--wa-panel-corners);
      max-height: 66vh;
      position: sticky;
      top: var(--wa-grid-gap);
    }
  }

  & .wa\:product-overview\:actions {
    & > * {
      flex: 1 1 auto;
    }
  }

  & .wa\:product-overview\:price {
    font-size: var(--wa-font-size-xl);
    font-weight: var(--wa-font-weight-medium);

    & s {
      color: var(--wa-color-text-quiet);
      font-weight: var(--wa-font-weight-light);
    }
  }

  & .wa\:product-overview\:rating {
    & > * {
      flex: 0 1 auto;
    }
  }
}

.wa\:product-reviews {
  & .wa\:product-reviews\:summary {
    & > * {
      flex: 0 1 auto;
    }
  }
  & .wa\:product-reviews\:breakdown {
    & ol {
      font-size: var(--wa-font-size-s);
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    & wa-icon {
      color: var(--wa-color-yellow-70);
    }

    & :first-child {
      flex: 0 0 1ch;
    }

    & :last-child {
      flex: 0 0 3ch;
      text-align: end;
    }

    & wa-progress-bar {
      --height: 1em;
      --indicator-color: var(--wa-color-yellow-70);
      flex: 1 1 auto;
    }
  }

  & .wa\:product-reviews\:attribution {
    line-height: var(--wa-font-line-height-compact);
  }
}

.wa\:product-list-simple {
  & .wa\:product-list-simple\:items {
    --wa-grid-gap: var(--wa-space-xl);
  }
  & wa-card {
    --background: none;
    --border-color: transparent;
    --border-radius: 0;
    --box-shadow: none;
    --padding: var(--wa-space-s);

    &::part(base) {
      height: 100%;
    }
  }
}

.wa\:collection {
  position: relative;

  & wa-card::part(base) {
    height: 100%;
  }

  & :first-child {
    align-self: center;
  }
}
.wa\:collection::before {
  content: '';
  background-color: var(--wa-color-neutral-fill-subtle);
  position: absolute;
  height: calc(100% - var(--wa-space-xl) * 2);
  width: 200vw;
  left: -100vw;
  margin-block: var(--wa-space-xl);
  z-index: -2;
}

.wa\:overflowing_hero {
  overflow: auto;

  & [class*='wa\:grid'] {
    margin-block-end: var(--wa-grid-gap);

    & > *:first-child {
      align-self: center;
    }

    & > *:last-child {
      margin-block-end: calc((var(--wa-grid-gap) * 2 * -1));
    }
  }
}

.wa\:chat_bubble {
  background-color: var(--wa-color-neutral-fill-subtle);
  border-radius: var(--wa-form-controls-corners);
  border-start-start-radius: 0;
  padding: var(--wa-space-m);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 1rem solid transparent;
    border-right-color: var(--wa-color-neutral-fill-subtle);
    border-left: 0;
    border-top: 0;
    margin-top: 0;
    margin-left: -0.5rem;
  }
}
