wa-button:not([variant='text']) {
  --box-shadow: 0 var(--wa-shadow-offset-x-level-1) var(--wa-shadow-blur-base) var(--box-shadow-color);
}
wa-button:active:not([variant='text']):not([disabled]) {
  --box-shadow: none;
  transform: translateY(var(--wa-shadow-offset-x-level-1));
}
wa-input,
wa-textarea {
  --box-shadow: var(--wa-shadow-inset);
}
