wa-button:not([variant='text']) {
  --shadow: 0 var(--wa-shadow-offset-x-level-1) var(--wa-shadow-blur-base) var(--border-color);
}
wa-button:active:not([variant='text']) {
  --shadow: none;
  transform: translateY(var(--wa-shadow-offset-x-level-1));
}
