:is(
    [class*='wa-cluster'],
    [class*='wa-flank'],
    [class*='wa-frame'],
    [class*='wa-grid'],
    [class*='wa-stack'],
    [class*='wa-split']
  )
  > * {
  margin-block: 0;
  margin-inline: 0;
}

/* #region Cluster */
[class*='wa-cluster'] {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  /* modified by class amendments */
  align-items: center;
  gap: var(--wa-space-m);
}
/* #endregion */

/* #region Flank */
[class*='wa-flank'] {
  display: flex;
  flex-wrap: wrap;

  /* modified by class amendments */
  align-items: center;
  gap: var(--wa-space-m);

  --content-percentage: initial;
  --flank-size: initial;
}

[class*='wa-flank']:not([class*='\:end']) > :first-child,
[class*='wa-flank'][class*='\:start'] > :first-child {
  flex-basis: var(--flank-size, auto);
  flex-grow: 1;
}
[class*='wa-flank']:not([class*='\:end']) > :last-child,
[class*='wa-flank'][class*='\:start'] > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--content-percentage, 50%);
}

[class*='wa-flank'][class*='\:end'] > :last-child {
  flex-basis: var(--flank-size, auto);
  flex-grow: 1;
}
[class*='wa-flank'][class*='\:end'] > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--content-percentage, 50%);
}
/* #endregion */

/* #region Frame */
[class*='wa-frame'] {
  display: flex;
  align-items: center;
  aspect-ratio: 1 / 1;
  justify-content: center;
  overflow: hidden;
}

[class*='wa-frame'] > img,
[class*='wa-frame'] > video {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

[class*='wa-frame'][class*='\:square'] {
  aspect-ratio: 1 / 1;
}
[class*='wa-frame'][class*='\:landscape'] {
  aspect-ratio: 16 / 9;
}
[class*='wa-frame'][class*='\:portrait'] {
  aspect-ratio: 9 / 16;
}

[class*='wa-frame'][class*='\:border-radius-xs'] {
  border-radius: var(--wa-border-radius-xs);
}
[class*='wa-frame'][class*='\:border-radius-s'] {
  border-radius: var(--wa-border-radius-s);
}
[class*='wa-frame'][class*='\:border-radius-m'] {
  border-radius: var(--wa-border-radius-m);
}
[class*='wa-frame'][class*='\:border-radius-l'] {
  border-radius: var(--wa-border-radius-l);
}
[class*='wa-frame'][class*='\:border-radius-pill'] {
  border-radius: var(--wa-border-radius-pill);
}
[class*='wa-frame'][class*='\:border-radius-circle'] {
  border-radius: var(--wa-border-radius-circle);
}
[class*='wa-frame'][class*='\:border-radius-square'] {
  border-radius: var(--wa-border-radius-square);
}
/* #endregion */

/* #region Grid */
[class*='wa-grid'] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(var(--min-inline-size, 20ch), 100%), 1fr));

  /* modified by class amendments */
  gap: var(--wa-space-m);

  --min-inline-size: initial;
}

.wa-span-grid {
  grid-column: 1 / -1;
}
/* #endregion */

/* #region Split */
[class*='wa-split'] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  /* modified by class amendments */
  align-items: center;
  gap: var(--wa-space-m);
}

[class*='wa-split'],
[class*='wa-split'][class*='\:row'] {
  flex-direction: row;
  block-size: auto;
  inline-size: 100%;
}

[class*='wa-split'][class*='\:column'] {
  flex-direction: column;
  block-size: auto;
  inline-size: auto;
  align-self: stretch;
}

/* #endregion */

/* #region Stack */
[class*='wa-stack'] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  /* modified by class amendments */
  align-items: stretch;
  gap: var(--wa-space-m);
}
/* #endregion */

/* #region Alignment Modifiers */
.wa-align-start {
  align-items: flex-start;
}
.wa-align-end {
  align-items: flex-end;
}
.wa-align-center {
  align-items: center;
}
.wa-align-stretch {
  align-items: stretch;
}
.wa-align-baseline {
  align-items: baseline;
}
/* #endregion */

/* #region Gap */
.wa-gap-0 {
  gap: 0px;
}
.wa-gap-3xs {
  gap: var(--wa-space-3xs);
}
.wa-gap-2xs {
  gap: var(--wa-space-2xs);
}
.wa-gap-xs {
  gap: var(--wa-space-xs);
}
.wa-gap-s {
  gap: var(--wa-space-s);
}
.wa-gap-m {
  gap: var(--wa-space-m);
}
.wa-gap-l {
  gap: var(--wa-space-l);
}
.wa-gap-xl {
  gap: var(--wa-space-xl);
}
.wa-gap-2xl {
  gap: var(--wa-space-2xl);
}
.wa-gap-3xl {
  gap: var(--wa-space-3xl);
}
/* #endregion */
