/* #region 12 Column Grid */
.wa-container {
  container-type: inline-size;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--wa-space-m);
}

.wa-col-12 {
  grid-column: span 12;
}
.wa-col-11 {
  grid-column: span 11;
}
.wa-col-10 {
  grid-column: span 10;
}
.wa-col-9 {
  grid-column: span 9;
}
.wa-col-8 {
  grid-column: span 8;
}
.wa-col-7 {
  grid-column: span 7;
}
.wa-col-6 {
  grid-column: span 6;
}
.wa-col-5 {
  grid-column: span 5;
}
.wa-col-4 {
  grid-column: span 4;
}
.wa-col-3 {
  grid-column: span 3;
}
.wa-col-2 {
  grid-column: span 2;
}
.wa-col-1 {
  grid-column: span 1;
}

/* #endregion */

/* #region Stack */
.wa-stack {
  --align: initial;
  --gap: initial;

  display: flex;
  flex-direction: column;
  gap: var(--gap, var(--wa-space-m));
  justify-content: flex-start;
  align-items: var(--align, stretch);
}

.wa-stack > * {
  margin-block: 0;
}
/* #endregion */

/* #region Grid */
.wa-grid {
  --gap: initial;
  --min-width: initial;

  display: grid;
  gap: var(--gap, var(--wa-space-m));
  grid-template-columns: repeat(auto-fit, minmax(min(var(--min-width, 20ch), 100%), 1fr));
}
/* #endregion */

/* #region Frame */
[class*='wa-frame'] {
  --aspect-ratio: initial;

  aspect-ratio: var(--aspect-ratio, 1 / 1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wa-frame > img,
.wa-frame > video {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.wa-frame\:square {
  --aspect-ratio: 1 / 1;
}

.wa-frame\:landscape {
  --aspect-ratio: 16 / 9;
}

.wa-frame\:portrait {
  --aspect-ratio: 9 / 16;
}
/* #endregion */

/* #region Split */
[class*='wa-split'] {
  --gap: initial;
  --direction: initial;
  --align: initial;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, var(--wa-space-m));
  justify-content: space-between;
  align-items: var(--align, center);
  align-self: stretch;
}

.wa-split,
.wa-split\:row {
  flex-direction: row;
  block-size: auto;
  inline-size: 100%;
}

.wa-split\:column {
  flex-direction: column;
  block-size: auto;
  inline-size: auto;
}

/* #endregion */

/* #region Stretch */
.wa-stretch {
  --gap: initial;

  display: flex;
  gap: var(--gap, var(--wa-space-m));
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  inline-size: 100%;
}
/* #endregion */

/* #region Flank */
[class*='wa-flank'] {
  --gap: initial;
  --align: initial;
  --min-inline-size: initial;
  --aside-size: initial;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, var(--wa-space-m));
  align-items: var(--align, center);
}

.wa-flank > :first-child,
.wa-flank\:start > :first-child {
  flex-grow: 1;
  flex-basis: var(--aside-size, auto);
}

.wa-flank > :last-child,
.wa-flank\:start > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--min-inline-size, 50%);
}

.wa-flank\:end > :last-child {
  flex-grow: 1;
  flex-basis: var(--aside-size, auto);
}

.wa-flank\:end > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--min-inline-size, 50%);
}
/* #endregion */

/* #region Cluster */
.wa-cluster {
  --gap: initial;
  --align: initial;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, var(--wa-space-m));
  justify-content: flex-start;
  align-items: var(--align, center);
}
/* #endregion */

/* #region Fixed */
.wa-anchor {
  position: relative;
}
.wa-fixed {
  position: absolute;
}
/* #endregion */

/* #region Sticky */
.wa-sticky {
  position: sticky;
}
/* #endregion */

/* #region Utilities */
.wa-margin\:0 {
  margin: 0;
}

.wa-font-size\:3xl {
  font-size: var(--wa-font-size-3xl);
}

.wa-font-size\:2xl {
  font-size: var(--wa-font-size-2xl);
}

.wa-font-size\:xl {
  font-size: var(--wa-font-size-xl);
}

.wa-font-size\:l {
  font-size: var(--wa-font-size-l);
}

.wa-font-size\:m {
  font-size: var(--wa-font-size-m);
}

.wa-font-size\:s {
  font-size: var(--wa-font-size-s);
}

.wa-font-size\:xs {
  font-size: var(--wa-font-size-xs);
}
/* #endregion */
