---
title: Native Styles
description: Native styles apply your theme to native HTML elements so they match the look and feel of Web Awesome components.
  See the [installation instructions](#installation) to use native styles in your project.
layout: overview
categories: ['forms', 'apps', 'content']
override:tags: []
---

{% markdown %}
Web Awesome provides optional Native Styles that make native HTML elements look good so you can continue using what you know and gradually adopt Web Awesome as you see fit.

## Installation

To use all Web Awesome page styles (including [utilities](/docs/utilities/)), include the following stylesheet in your project:

```html
<link rel="stylesheet" href="{% cdnUrl 'styles/webawesome.css' %}" />
```

Or, to _only_ include styles for native elements:

```html
<link rel="stylesheet" href="{% cdnUrl 'styles/native.css' %}" />
```
{% endmarkdown %}
