:root {
  --fa-sliders-simple: '\f1de';
}

.core-column {
  position: relative;

  > wa-dropdown {
    min-width: 100%;
  }
}

wa-dropdown > .color.swatch {
  cursor: pointer;
}

.decorated-slider {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin-block-end: var(--wa-space-xl);

  --color-1: oklch(from var(--color) l c calc(h + var(--min, 0)));
  --color-2: oklch(from var(--color) l c calc(h + var(--max, 0)));

  wa-slider {
    grid-column: 1 / -1;
    --track-height: 1em;
    --track-color-inactive: transparent;
    --track-color-active: transparent;
    --thumb-color: var(--color-tweaked);

    &::part(base) {
      background: linear-gradient(to right in oklch, var(--color-1), var(--color-2));
    }
  }

  [slot='label'] {
    min-height: 1.1lh;
  }

  .clear-button {
    vertical-align: middle;
    font-size: var(--wa-font-size-xs);

    &:not(.tweaked *) {
      display: none;
    }
  }

  .label-min,
  .label-max {
    font-size: var(--wa-font-size-xs);
  }

  .label-min {
    grid-column: 1;
  }

  .label-max {
    grid-column: 3;
  }
}

.popup {
  background: var(--wa-color-surface-default);
  border: 1px solid var(--wa-color-surface-border);
  padding: var(--wa-space-xl);
  border-radius: var(--wa-border-radius-m);

  code {
    white-space: nowrap;
  }
}

.color-scale {
  th {
    white-space: nowrap;
  }

  td {
    --color-tweaked: oklch(from var(--color) l c calc(h + var(--hue-shift, 0)));
  }

  .color.swatch {
    --color-2: var(--color-tweaked);
  }

  &.tweaked .color.swatch {
    --color-2-height: 100%;
  }

  &.tweaking .color.swatch {
    --color-2-height: 50%;
  }

  .tweak-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: var(--wa-space-s);
    opacity: var(--tweak-icon-opacity, 0%);
  }

  .core-column:hover {
    --tweak-icon-opacity: 40%;
  }

  &.tweaked .core-column {
    --tweak-icon-opacity: 80%;
  }
}
