{% include "layout-templates/reset.css" %}

.grid {
  font-size: 1.35rem;
  text-align: center;
  display: grid;
  place-content: center;
  padding: 1rem;
}

header {
  background-color: var(--sl-color-blue-100);
}

aside {
  min-width: 250px;
  max-width: 250px;
  height: 100%;
}

main {
  background-color: var(--sl-color-green-100);
  height: 100%;
}

footer {
  background-color: var(--sl-color-blue-200);
}

.banner {
  background-color: var(--sl-color-amber-100);
}

.header {
  background-color: var(--sl-color-blue-100);
}

.banner, .header {
  min-width: 100%;
  height: 100%;
}

[slot=header] {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

[slot=aside] {
  background-color: var(--sl-color-yellow-100);
}

[slot=menu] {
  background-color: var(--sl-color-pink-100);
}

[slot=main-header] {
  background-color: var(--sl-color-red-200);
  padding: 1rem;
}

[slot=main-footer] {
  background-color: var(--sl-color-lime-200);
}
