body {
  padding: 0;
  height: auto;
}

main {
  min-height: 100%;
  padding: 1rem 2rem;
}

/* Layout */
wa-layout {
  background-color: var(--wa-color-neutral-95);
  color: var(--wa-color-neutral-20);
}

wa-card :is(p, h3) {
  margin: 0;
}

wa-layout::part(header) {
  /** Because headers are sticky, this keeps text from leaking through. */
  background-color: var(--wa-color-white);
}

wa-layout::part(drawer__panel) {
  height: 100%;
}

wa-layout[view="mobile"] {
  background-color: var(--wa-color-white);
  --menu-width: 0px;
}

wa-layout[view="mobile"]::part(header) {
  padding: 0.25rem;
  border-bottom: 1px solid var(--wa-color-neutral-70);
}

wa-layout[view="mobile"]::part(navigation) {
  display: none;
}

wa-layout[view="desktop"]::part(main) {
  padding-top: 1rem;
}

wa-layout[view="desktop"] {
  --menu-width: 250px;
}


wa-layout[view="desktop"]::part(navigation) {
  padding-top: 1.9rem;
}

wa-layout[view="desktop"] > [slot="header"] {
  display: none;
}

wa-layout[view="desktop"]::part(header) {
  display: none;
}

wa-layout[view="desktop"] main {
  background-color: var(--wa-color-white);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.05);
  border: 1px solid var(--wa-color-neutral-80);
  border-top-left-radius: 8px;
}

/* Navigation / Lists */

/* Highlights */
.highlight {
  font-size: 0.85em;
  padding: 0.4em 0.6em;
  border-radius: 6px;
  display: inline-block;
}

.highlight--success {
  background-color: var(--wa-color-success-fill-muted);
  color: var(--wa-color-success-text-on-muted);
}

.highlight--danger {
  background-color: var(--wa-color-red-90);
  color: var(--wa-color-red-30);
}

/* Text */
.text--light {
  color: var(--wa-color-neutral-40);
}

/* Cards */
.wa-card--muted::part(base) {
  --border-color: transparent;
  background-color: transparent;
  display: grid;
  height: 100%;
  box-shadow: none;
}

.wa-card--muted::part(body) {
  display: grid;
  align-content: flex-end;
  gap: var(--padding);
}

/* Buttons */
.wa-button--card {
  --border-radius: 8px;
  --padding: 1rem 0px;
}

.wa-button--card.wa-button--muted {
  --background-color: var(--wa-color-neutral-95);
}

.wa-button--card::part(base) {
  height: 100%;
  border-radius: var(--border-radius);
  padding: var(--padding);
}

.wa-button--card::part(label) {
  width: 100%;
}

.wa-button--muted {
  --text-color: var(--wa-color-neutral-30);
  --text-color-active: var(--wa-color-neutral-30);
  --background-color: transparent;
  --background-color-active: var(--wa-color-neutral-90);
  --border-color: transparent;
  --border-color-active: var(--wa-color-neutral-80);
}

.wa-button--muted::part(base) {
  background-color: var(--background-color);
  color: var(--text-color);
  border-color: var(--border-color);
}

.wa-button--muted:is(:focus-within)::part(base) {
  background-color: var(--background-color);
  color: var(--text-color-active);
  border-color: var(--border-color-active);
}

.wa-button--muted:is(:hover)::part(base) {
  background-color: var(--background-color-active);
  color: var(--text-color-active);
  border-color: var(--border-color-active);
}

.wa-button--logo::part(base) {
  font-size: 1.5rem;
  color: var(--wa-color-neutral-30);
}

.wa-button--square::part(base) {
  border-radius: 0px;
}

.wa-button--stretch {
  width: 100%;
}

.wa-button--stretch::part(label) {
  flex: 1 1 auto;
}

.wa-button--nav-footer {
  --border-color: var(--wa-color-neutral-70);
  --wa-spacing-large: 8px;
}

wa-layout[view="desktop"] .wa-button--nav-footer::part(base) {
  --border-color: transparent;
  border-top-color: var(--wa-color-neutral-70);
}

/* Tables */
table {
  max-width: 100%;
  border: none;
  border-collapse: collapse;
  color: inherit;
}

table tr {
  border-bottom: 1px solid var(--wa-color-neutral-70);
}

table th {
  font-weight: var(--wa-font-weight-semibold);
  text-align: left;
  padding: 0.75rem 1rem;
}

table td {
  line-height: var(--wa-line-height-normal);
  padding: 1rem;
}

* > table {
  max-width: 100%;
  overflow-x: auto;
}
