<sl-layout main-id="main-content" class="sl-theme-light">
  <header class="grid" slot="header">Header</header>
  <aside class="grid" slot="menu">Menu</aside>
  <main class="grid" id="main-content">
    Main
  </main>
  <aside class="grid" slot="aside">Aside</aside>
  <footer class="grid" slot="footer">Footer</footer>
</sl-layout>

{% include "layout-widget.njk" %}
