---
layout: layout-example.njk
---

{% set html_file = "layout-templates/advanced-documentation.html.njk" %}
{% set css_file = "layout-templates/advanced-documentation.css.njk" %}

{% include "playground.njk" %}
