---
layout: layout-example.njk
---

{% set in_playground = true %}
{% set html_file = "layout-templates/advanced-example.html.njk" %}
{% set css_file = "layout-templates/advanced-example.css.njk" %}

{% include "playground.njk" %}
