---
layout: layout-example.njk
---

{% set html_file = "layout-templates/advanced-documentation.html" %}
{% set css_file = "layout-templates/advanced-documentation.css" %}

{% include "playground.njk" %}
