---
layout: layout-example.njk
---

{% set in_playground = true %}
{% set html_file = "layout-templates/advanced-example.html" %}
{% set css_file = "layout-templates/advanced-example.css" %}

{% include "playground.njk" %}
