---
layout: layout-example.njk
---


{% set html_file = "layout-templates/documentation.html.njk" %}
{% set css_file = "layout-templates/documentation.css.njk" %}

{% set in_playground = true %}
{% include "playground.njk" %}
