---
layout: layout-example.njk
---

<!-- Required for load layout widget -->
{% set in_playground = true %}
{% set html_file = "layout-templates/documentation.html.njk" %}
{% set css_file = "layout-templates/documentation.css.njk" %}

{% include "playground.njk" %}
