---
layout: layout-example.njk
---

{% set in_playground = true %}
{% set html_file = "layout-templates/sport-awesome.html" %}
{% set css_file = "layout-templates/sport-awesome.css" %}

{% include "playground.njk" %}

