.sidebar.panel-container {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 32ch;
  overflow: hidden;
  padding: 0;
  gap: 0;
  scrollbar-width: thin;
}

.panel {
  --spacing: 0;
  --panel-background: var(--wa-color-surface-default);

  display: block;
  max-height: 100%;
  margin-bottom: 0;
  position: relative;
  background: var(--panel-background);
  border: none;
  transition:
    translate var(--wa-transition-slow) allow-discrete,
    opacity var(--wa-transition-slow) 25ms allow-discrete;

  /* Ensure horizontal scrollbar isn't visible when translate takes effect */
  overflow-x: hidden !important;

  @starting-style {
    display: block;
  }

  summary {
    flex-direction: row-reverse;
    justify-content: start;
    gap: var(--wa-space-xs);
    cursor: pointer;
    background: var(--panel-background);
    transition: inherit;
    transition-property: all;
    color: var(--wa-color-text-normal);
    padding-block-end: var(--wa-space-2xl);
    padding-inline: var(--wa-space-2xl);

    [data-step='0'] & {
      padding-block-start: var(--wa-space-2xl);
    }

    .previous & {
      padding-block-start: var(--wa-space-2xl);
    }

    &::after {
      transform: rotate(180deg);
    }

    h2 {
      margin-block: 0;
      font-size: inherit;
      transition: inherit;
    }

    label {
      pointer-events: none;
      font: inherit;
      color: inherit;
    }
  }

  .panel-content {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-flow: column;
    gap: var(--wa-space-2xl);
    padding-inline: var(--wa-space-2xl);
    padding-block-end: var(--wa-space-2xl);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-end: 0;
  }

  &[open] {
    flex: 1;
    opacity: 1;

    summary {
      font-size: var(--wa-font-size-l);

      &::after {
        display: none;
      }
    }
  }

  &:not([open]) {
    padding: 0;

    summary {
      font-size: var(--wa-font-size-s);

      h2 {
        margin: 0;
      }
    }

    &:not(.previous, .next) {
      /* Hide all but the immediately preceding or following steps */
      display: none;
    }

    &.next {
      height: 0;
      overflow: hidden;
    }

    &.next {
      opacity: 0;
    }

    &.next {
      translate: 100% 0%;
    }
  }
}

/* Safari < 18.4 chokes when this is nested in the rule above */
/* TODO better fallback for FF and old Safari */
.panel {
  &::details-content {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-flow: column;
    transition: inherit;

    @starting-style {
      display: flex;
      content-visibility: visible;
    }
  }

  &:not([open]) {
    &.previous::details-content,
    &.next::details-content {
      opacity: 0;
    }

    &.previous {
      &::details-content {
        translate: -100% 0%;
      }
    }

    &.next {
      &::details-content {
        translate: inherit;
      }
    }
  }
}
