.sidebar.panel-container {
  position: relative;
  display: flex;
  flex-flow: column;
  min-width: 30ch;
  overflow: hidden;
}

.panel {
  --spacing: var(--wa-space-s);
  --panel-background: var(--wa-color-surface-default);

  display: flex;
  flex-flow: column;
  max-height: 100%;
  margin-bottom: 0;
  position: relative;
  background: var(--panel-background);
  transition-behavior: allow-discrete;
  transition-property: display, translate, flex;

  @starting-style {
    display: flex;
  }

  &.previous,
  &[open],
  &.next {
    transition-duration: var(--wa-transition-normal);
  }

  summary {
    flex-direction: row-reverse;
    justify-content: start;
    gap: var(--wa-space-xs);
    cursor: pointer;
    background: var(--panel-background);
    transition: inherit;
    transition-property: all;

    &::after {
      transform: rotate(180deg);
    }

    h2 {
      margin-block: 0;
      font-size: inherit;
    }

    label {
      pointer-events: none;
      font: inherit;
      color: inherit;
    }
  }

  .panel-content {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-flow: column;
    gap: var(--wa-space-s);
    overflow: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-end: 0;
  }

  &[open] {
    flex: 1;

    summary {
      padding-block-end: var(--spacing);
      font-size: var(--wa-font-size-l);

      &::after {
        display: none;
      }
    }

    &:not(:first-child) {
      border-block-start: var(--ui-border);
    }
  }

  &:not([open]) {
    padding: 0;

    summary {
      font-size: var(--wa-font-size-s);

      h2 {
        margin: 0;
      }
    }

    &:not(.previous, .next) {
      /* Hide all but the immediately preceding or following steps */
      display: none;
    }

    &.next {
      height: 0;
      overflow: hidden;
    }

    &.next {
      opacity: 0;
    }

    &.next {
      translate: 100% 0%;
    }
  }
}

/* Safari < 18.4 chokes when this is nested in the rule above */
/* TODO better fallback for FF and old Safari */
.panel {
  &::details-content {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-flow: column;
    transition: inherit;

    @starting-style {
      display: flex;
      content-visibility: visible;
    }
  }

  &:not([open]) {
    &.previous::details-content,
    &.next::details-content {
      opacity: 0;
    }

    &.previous {
      &::details-content {
        translate: -100% 0%;
      }
    }

    &.next {
      &::details-content {
        translate: inherit;
      }
    }
  }
}
