{% set paletteId = page.fileSlug %}

<svg width="90" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg" class="wa-palette-{{ paletteId }}">
  <style>
    @import url('/dist/styles/color/{{ paletteId }}.css') layer(palette.{{ paletteId }});

    .gray,
    .hue-slice {
      --gap: 3;
      --gap-arc: 2;
      --gray-r: 18;
      --hue-count: {{ hues|length - 1 }}; /* Exclude gray */

      --radius: calc(25 + var(--gray-r)/2 + var(--gap));
      --perimeter: calc(2 * pi * var(--radius));
      --hue-arc: calc(var(--perimeter) / var(--hue-count) - var(--gap-arc));
      --hue-thickness: calc(50 - var(--gray-r) - var(--gap) * 2);
    }

    .gray {
      r: var(--gray-r);
    }

    .hue-slice {
      r: var(--radius);
      stroke-dasharray: var(--hue-arc) var(--perimeter);
      stroke-width: var(--hue-thickness);
      stroke-dashoffset: calc(-1 * var(--index) * (var(--hue-arc) + var(--gap-arc)));
      {# fill: black; fill-opacity: 0.1; #}

      transform: rotate(-90deg);
      transform-box: fill-box;
      transform-origin: center;
    }
  </style>
  {# <rect fill="yellow" width="100" height="100" /> #}
  <circle cx="50" cy="50" class="gray" r="{{ gray_r }}" fill="var(--wa-color-gray)" />
  {% for hue in hues -%}
    {%- if hue != 'gray' %}
      <circle cx="50" cy="50" style="stroke: var(--wa-color-{{ hue }}); --index: {{ loop.index0 }}" class="hue-slice" />
    {%- endif %}
  {%- endfor %}
</svg>
